In [1]:
import pandas as pd
import numpy as np
from doc_bd import Manage_db
import json
import os
import mysql.connector
from mysql.connector import errorcode
import re
import urllib3 
import time
import warnings
warnings.filterwarnings('ignore')
urllib3.disable_warnings()
import matplotlib.pyplot as plt
from pymongo import MongoClient
#import sklearn

In [2]:
sql = Manage_db(database = 'lop2test', host = 'localhost', user='root', password='')

client = MongoClient("localhost", 27017)
db = client['lop2test']
submissions_lop = db['submissions']

#df_class.loc[df['id_class'] == 'f2dd7bef-5b5d-4cb3-9efa-aa8652af0605']
id_class = 'e378c59f-e815-4a41-95fc-e95e4432a34c'
#pd_data = pd.DataFrame([id_class], columns = ['id_class'])
condition = "WHERE class_id = 'e378c59f-e815-4a41-95fc-e95e4432a34c'"
df_submission = sql.search(table='submission')
list_quest_subm = df_submission.drop(['ip', 'id', 'environment','hitPercentage','timeConsuming','createdAt','type','language', 'answer', 'char_change_number', 'user_id', 'lesson_id', 'class_id', 'test_id'], axis=1).drop_duplicates()
df_submission_class = sql.search(table='submission', condition=condition)
df_lop_lists = sql.search(table='listQuestions')

df_lop_tests = sql.search(table='test')

df_class = sql.search(table='class')
df_quest = sql.search(table='question')

users_class = sql.search(table='classHasUser')
tag = sql.search(table='tag')
quest_tag = sql.search(table='questionHasTag')
df_list_q = sql.search(table='listHasQuestion')

In [3]:
tag.columns.values[0] ='tag_id'
list_class = df_submission_class['listQuestions_id'].drop_duplicates().reset_index(name='id')
a = df_lop_lists.columns.tolist()
df_list_class = pd.DataFrame(columns = a)

for i in range(list_class.count().values[0]):
    for a in range(df_lop_lists.count().values[0]):
        if list_class['id'][i] == df_lop_lists['id'][a]:
            b = dict(df_lop_lists.loc[a])
            df_list_class = df_list_class.append(b, ignore_index=True)
df_list_class.columns.values[0] = 'listQuestions_id'

test_class = df_submission_class['test_id'].drop_duplicates().reset_index(name='id')
a = df_lop_tests.columns.tolist()
df_test_class = pd.DataFrame(columns = a)

for i in range(test_class.count().values[0]):
    for a in range(df_lop_tests.count().values[0]):
        if test_class['id'][i] == df_lop_tests['id'][a]:
            b = dict(df_lop_tests.loc[a])
            df_test_class = df_test_class.append(b, ignore_index=True)
df_test_class.columns.values[0] = 'test_id'

quest_class = df_submission_class['question_id'].drop_duplicates().reset_index(name='id')
a = df_quest.columns.tolist()
df_quest_class = pd.DataFrame(columns = a)

for i in range(quest_class.count().values[0]):
    for a in range(df_quest.count().values[0]):
        if quest_class['id'][i] == df_quest['id'][a]:
            b = dict(df_quest.loc[a])
            df_quest_class = df_quest_class.append(b, ignore_index=True)
df_quest_class.columns.values[0] = 'question_id'

#verificando o total de questoes cadastrados em listas da turma 
list_name = df_list_class['listQuestions_id'].tolist()
a = df_list_q.columns.tolist()
df_q_l = pd.DataFrame(columns = a)

for i in range(df_list_class.count().values[0]):
    for a in range(df_list_q.count().values[0]):
        if df_list_class['listQuestions_id'][i] == df_list_q['list_id'][a]:
            b = dict(df_list_q.loc[a])
            df_q_l = df_q_l.append(b, ignore_index=True)

subs =[]
for x in submissions_lop.find():
    subs.append(x)
df_class_lop = pd.DataFrame(subs)

,_id,id,ip,type,environment,hitPercentage,language,answer,char_change_number,timeConsuming,createdAt,user_id,question_id,listQuestions_id,test_id,class_id,lesson_id
0,62b9eaed6b39e22d8ad49939,0001ca5f-98b5-4a64-ab52-53969752592b,727c84ab-e666-423a-bc01-27966d90338e.local,PROGRAMMING,desktop,40.0,javascript,"n1= prompt(""nota"");\nn2= prompt(""nota"");\nmedi...",426,138952,2020-09-28 21:25:23,d3f2c224-91bb-4a6a-b4b6-ab96579d070b,37505931-c445-4483-8841-1ab187ad2722,9338cc7b-7cf4-4d9f-af63-25a7effa7189,None,59dfe476-1325-433f-b676-c8df9a2c2072,None
1,62b9eaed6b39e22d8ad4993a,000245da-55a8-42e1-8e22-f327e5ecda92,1e444a01-cfa8-4c4b-a2bd-3e135e9c5841.local,PROGRAMMING,desktop,0.0,javascript,"var cont=0;\nn1=parseInt(prompt(""""));\nn2=pars...",1186,192984,2020-09-22 19:40:44,e787cce7-8b1a-48c2-9b19-20e47d385903,21035442-4f71-486b-b31d-2bc09ce02a16,dd1cd083-6c00-4605-9ff1-163bd4069363,None,59dfe476-1325-433f-b676-c8df9a2c2072,None
2,62b9eaed6b39e22d8ad4993b,0005567c-a8d0-45ce-bb3e-3625ea3d92e9,039aedd5-04ac-4e69-8c1c-b208db5ed990.local,PROGRAMMING,desktop,0.0,javascript,var somapar=0;\nvar somaimpar=0;\nvar numero;\...,299,109558,2020-09-18 14:46:41,9e959b70-4dd8-45ef-ac98-f9e5a12e0b95,dc0e768c-3f8a-4e41-a5e9-cbce0f9cd672,aca84206-87b2-4478-afa4-6193119cc06a,None,59dfe476-1325-433f-b676-c8df9a2c2072,None
3,62b9eaed6b39e22d8ad4993c,000859c1-df54-42e2-8393-3b00f65832bc,10.6.9.156,PROGRAMMING,desktop,100.0,javascript,a=1.5;\nc=2;\nd=3;\nalert(a*(c+d)),156,5314,2020-03-14 17:27:17,aebafa64-a97e-401f-aece-c10e6aba7ef5,1a56bcee-0cb1-46f2-90fe-fde9b5c7bef8,c6f3f5e5-0b0c-4396-92ba-d22d4125f555,None,59dfe476-1325-433f-b676-c8df9a2c2072,None
4,62b9eaed6b39e22d8ad4993d,000866ac-54fe-4f6f-8345-6b53bb5fe648,192.168.1.10,PROGRAMMING,desktop,0.0,javascript,"var m,h,imc\nm=parseInt (prompt (""Digite o pes...",446,171979,2020-10-02 22:36:52,22195123-f65a-481c-a492-44c679755ddc,6808752f-774c-4711-85c5-6a71e7545ef7,9338cc7b-7cf4-4d9f-af63-25a7effa7189,None,59dfe476-1325-433f-b676-c8df9a2c2072,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231727,62bb2676a1d1cb290ddf87ba,fff2e4de-10f1-4ef1-9a39-e9495e3d0697,192.168.1.2,PROGRAMMING,desktop,0.0,javascript,vetorA=[]\nfor(i=0;i<20;i=i+1){\n vetorA[i]...,366,739580,2022-02-19 03:33:24,b2e1978f-4b5f-4852-ba3a-9bc01c71cdb5,9094d939-6dd6-4ed5-999b-068b546e2dbf,c4d09d1b-73a5-45c6-8a0d-ead669114b65,None,f7144f91-f493-4e55-aac5-39f0d4add995,None
231728,62bb2676a1d1cb290ddf87bb,fff43361-0092-4df3-a37f-eb024537cf26,aff4a017-2206-447f-9b83-61a2d8ba30ca.local,PROGRAMMING,desktop,100.0,javascript,"var a = parseFloat(prompt(""Digite o primeiro n...",444,216174,2021-12-03 20:33:22,8e62252e-4e44-4632-93d3-4a96e5b66998,4c006108-460a-4a76-aac3-63b0606f0a86,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,None,f7144f91-f493-4e55-aac5-39f0d4add995,None
231729,62bb2676a1d1cb290ddf87bc,fff7dca0-ae28-4846-b3ff-e8947e8f8ce7,f39749d6-f102-4edd-87d2-0af7f528436c.local,PROGRAMMING,desktop,50.0,javascript,"var x = parseFloat(prompt(""Valor: ""))\nvar y =...",203,217702,2021-11-19 14:04:51,25c19a26-f1e4-4f7a-b046-7f55615c6ee5,97bccee8-b82b-42dd-8a83-b64003d578fa,dbfcc83c-f014-44ae-8260-f06d4e1370ba,None,f7144f91-f493-4e55-aac5-39f0d4add995,None
231730,62bb2676a1d1cb290ddf87bd,fff98853-dba7-4cff-a5bf-f5ee5cca9a4b,50197ea2-1503-4e50-8b41-9af4c223a6cb.local,PROGRAMMING,desktop,100.0,javascript,var ainicial = prompt();\nvar binicial = promp...,292,278850,2021-11-03 18:09:48,d8767187-903a-4e4f-a706-98c3655bd842,7337a753-839c-431b-9666-d6183e3d83a5,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,None,f7144f91-f493-4e55-aac5-39f0d4add995,None
231731,62bb2676a1d1cb290ddf87be,fffe5398-c5b9-4223-b3ae-a363a5185c0d,af1cecf1-7e0f-4766-8840-101060148d13.local,PROGRAMMING,desktop,0.0,javascript,"var r,pi,x,y;\n\nr = prompt(""digite raio"");\np...",155,206050,2021-11-05 23:50:52,29d36572-495f-4905-80f7-37a3e2adf388,25778717-8b49-40b5-8ecf-34028f3e6a43,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,None,f7144f91-f493-4e55-aac5-39f0d4add995,None

In [4]:
list_class = df_class_lop['listQuestions_id'].drop_duplicates().reset_index(name='id')
a = df_lop_lists.columns.tolist()
df_list_lop = pd.DataFrame(columns = a)

for i in range(list_class.count().values[0]):
    for a in range(df_lop_lists.count().values[0]):
        if list_class['id'][i] == df_lop_lists['id'][a]:
            b = dict(df_lop_lists.loc[a])
            df_list_lop = df_list_lop.append(b, ignore_index=True)
df_list_lop.columns.values[0] = 'listQuestions_id'
df_list_lop

,listQuestions_id,title,code,createdAt,updatedAt,author_id
0,9338cc7b-7cf4-4d9f-af63-25a7effa7189,(Lop) Estruturas de decisão - Múltiplas decisões,358922cf78,2020-03-23 16:07:21,2020-09-15 00:03:03,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
1,dd1cd083-6c00-4605-9ff1-163bd4069363,Repetição condicional - Lista Resolvida (LOP),f00e8a3272,2020-06-24 11:44:44,2020-06-24 13:30:49,2985b749-e081-400c-b2cc-97ae042a777d
2,aca84206-87b2-4478-afa4-6193119cc06a,Repetição condicional - Lista de Exercícios (LOP),0814ea8f94,2020-06-29 12:19:48,2020-06-29 12:19:48,2985b749-e081-400c-b2cc-97ae042a777d
3,c6f3f5e5-0b0c-4396-92ba-d22d4125f555,Laboratório 01 - Expressões Aritméticas,d0947edaac,2020-02-28 14:49:23,2020-02-28 14:49:23,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
4,813dedaa-0989-489b-9804-3850ae4b83d1,Repetição contada - Lista Prática (LOP),73a86e8081,2020-07-07 11:56:51,2020-07-07 11:56:51,02673ba8-1fcb-4cb0-9cf3-a789cab48731
5,f5bc770d-2ac7-4060-ab1c-e42b5541f7a7,Repetição contada - Lista de Exercícios (LOP),7a2e23fcb3,2020-07-07 11:59:39,2020-07-07 11:59:39,02673ba8-1fcb-4cb0-9cf3-a789cab48731
6,5ebe517f-50f2-4629-a22f-1dea895fce25,Aula - Funções Aritméticas,4749406f21,2020-03-04 21:55:18,2020-03-04 21:55:18,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
7,1551e3ed-c875-4bb3-8e4e-58407df40776,Vetores - Lista de Exercícios (LOP),309289819d,2020-07-16 17:37:42,2020-07-16 17:37:42,6a36fa60-665f-4d15-a9de-0a523b93ca71
8,cf509a46-6a97-440e-a5c0-f7ba7537ef96,(Lop) Estruturas de decisão - problemas sobre ...,5c2cb0df7d,2020-04-08 01:15:40,2020-04-08 01:15:40,None
9,e1f0e8be-54fe-4b54-8d6d-2451bedc0647,Treinamento - Expressões Aritméticas,87add2f05c,2020-03-06 16:09:41,2020-03-06 16:09:41,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
10,102050fa-c902-4258-a988-01dad84ff63f,Aula - Introdução Expressões Aritiméticas,3466d508bd,2020-02-28 20:41:17,2020-02-28 20:41:17,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
11,cf81af12-b0b7-40c2-8536-5e7445ace7a3,(Lop) Estruturas de decisão - Operadores Lógicos,6453a7da1d,2020-04-04 01:47:59,2020-09-15 00:02:40,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
12,0a2c49a2-482c-40d7-bc44-ee368f089560,Repetição condicional - Lista Prática (LOP),5dc5d4f372,2020-06-24 13:11:49,2020-06-24 13:30:28,2985b749-e081-400c-b2cc-97ae042a777d
13,c4d09d1b-73a5-45c6-8a0d-ead669114b65,Vetores - Lista Prática (LOP),95938010fe,2020-07-17 02:34:58,2020-07-17 02:34:58,9ed18ab4-989f-4905-b26a-84f647688ea2
14,93cd33c4-109a-401e-87e9-e26ff5929d37,Vetores - Lista Resolvida (LOP),3c9087f448,2020-07-16 00:56:16,2020-07-16 00:56:16,9ed18ab4-989f-4905-b26a-84f647688ea2
15,34691c68-f01d-46ad-808d-6bbd44bcd9a2,Repetição contada - Lista Resolvida (LOP),b04c721d7e,2020-07-06 13:55:27,2020-07-08 20:35:54,2985b749-e081-400c-b2cc-97ae042a777d
16,3ab11cee-77d1-4448-9587-880929570cf3,(Lop) Lista de Laboratório 2 - Estrutura de de...,5d418ccffa,2020-03-12 13:40:16,2020-03-12 13:40:16,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
17,70e6c800-7583-485d-ac9f-9c42c48dd785,Expressões Aritméticas - Lista Prática (LOP),cdc3e08481,2021-01-20 17:19:29,2021-01-20 17:19:29,02673ba8-1fcb-4cb0-9cf3-a789cab48731
18,f5b1d992-68de-4854-97d8-c4bd84bd593b,Estruturas de Decisão - Lista de Exercícios (LOP),ff2b68042d,2021-01-29 20:31:17,2021-01-29 20:31:17,02673ba8-1fcb-4cb0-9cf3-a789cab48731
19,70d1aa7e-00cb-4428-892f-9ac67cc50449,Estruturas de Decisão - Lista Prática (LOP),2833e8080c,2021-01-29 20:21:51,2021-01-29 20:21:51,02673ba8-1fcb-4cb0-9cf3-a789cab48731
20,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,Expressões Aritméticas - Lista de Exercícios (...,07a925de2f,2021-01-20 17:26:24,2021-01-20 17:26:24,02673ba8-1fcb-4cb0-9cf3-a789cab48731
21,dbfcc83c-f014-44ae-8260-f06d4e1370ba,Estruturas de Decisão - Lista Resolvida (LOP),f05a052fdd,2021-01-29 20:16:08,2021-02-01 13:32:47,02673ba8-1fcb-4cb0-9cf3-a789cab48731
22,4f3452ae-87d4-4a5f-9532-c7634da2cff0,Expressões Aritméticas - Lista Resolvida (LOP),dbf8561c3d,2021-01-20 17:01:26,2021-02-01 13:32:32,02673ba8-1fcb-4cb0-9cf3-a789cab48731
23,9bfe2a0b-120f-4df7-a3f7-89a8e100b0b1,Variáveis e expressões,17ef64c684,2020-03-04 13:23:54,2020-03-04 13:23:54,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
24,bd91406e-0a5a-4d22-8e7d-f61a4352b509,"Lab1_Variáveis, Constantes e Operadores",39a154d763,2020-03-06 14:08:48,2020-03-06 14:08:48,1a3aa181-9fc6-41e1-b61a-febd18f4eb23

In [35]:
#aprovados - acima da media
#submissoes da turma

#retirando da df_class_lop todas as turmas do 2020.1
l_classes = df_class_lop['class_id'].drop_duplicates().tolist()
nclasses = []
nclasses.append(l_classes[0])
nclasses.append(l_classes[5])
nclasses.append(l_classes[8])

df_class_lop = df_class_lop.drop( df_class_lop[df_class_lop['class_id']==nclasses[0]].index )
df_class_lop = df_class_lop.drop( df_class_lop[df_class_lop['class_id']==nclasses[1]].index )
df_class_lop = df_class_lop.drop( df_class_lop[df_class_lop['class_id']==nclasses[2]].index )

df_performance = df_class_lop.groupby(['class_id', 'user_id', 'listQuestions_id','question_id'])['hitPercentage'].max().reset_index()
#soma das notas por lista
df_performance = df_performance.groupby(['class_id', 'user_id','listQuestions_id'])['hitPercentage'].sum().reset_index()
#Me traz as porcentagens maximas de acerto por questão
df_performance = df_class_lop.groupby(['class_id', 'user_id','listQuestions_id','question_id'])['hitPercentage'].max().reset_index()
      #Soma as porcentagens de uma lista/prova unica
df_performance = df_performance.groupby(['class_id', 'user_id','listQuestions_id'])['hitPercentage'].sum().reset_index()
      #Renomeando para melhorar entendimento
df_performance.rename(columns={'hitPercentage':'totalHitPercentage'}, inplace = True)
#Listas cadastradas nessa turma
lists = df_class_lop['listQuestions_id'].drop_duplicates().values
#Lista de alunos
df_without_duplicates = df_class_lop.drop_duplicates(subset=['class_id', 'user_id'])
    #df_without_duplicates = df_without_duplicates[['user_id']]
df_prov = pd.DataFrame()
for lista in lists:
    df_users = df_without_duplicates.copy()
    df_users['listQuestions_id'] = lista
    df_prov = df_prov.append(df_users)
    #df_prov.loc[df_prov['user_id']=='Flávio']
df_performance = pd.merge(df_performance,df_prov, on=['class_id', 'user_id','listQuestions_id'], how='outer')#.fillna(0)  
    #df_question_data = df_quest.groupby(['listQuestions_id','question_id'])['id_list'].count().reset_index()
      #Conta quantas questões tem por lista
df_question_data = list_quest_subm.groupby(['listQuestions_id'])['question_id'].count().reset_index(name='totalQuestionslist')
      #Merge
df_performance = df_performance.merge(df_question_data, on = 'listQuestions_id')
    #Média de acerto por lista
df_performance['medialist'] = df_performance['totalHitPercentage'] / df_performance['totalQuestionslist']
      #Convertendo para datetime
df_lop_lists['createdAt'] = pd.to_datetime(df_lop_lists['createdAt'])
      #Criando campo com a data
df_lop_lists['dateList'] = df_lop_lists['createdAt'].dt.date
      #Merge
lists_df = df_list_lop
lists_df.columns.values[0] = 'listQuestions_id'

df_performance = pd.merge(df_performance, lists_df.drop(columns = ['createdAt']), on='listQuestions_id')
    #graph1
    #Número de alunos na turma
#total_students = df_class_lop.drop(['_id','timeInSecounds','question_id', 'listQuestions_id', 'id','environment','timeConsuming','createdAt','char_change_number', 'test_id', 'language', 'hitPercentage', 'ip', 'type', 'answer', 'lesson_id'], axis=1).drop_duplicates()
#total_students = total_students.groupby(['class_id'])['user_id'].count()
#total_students = total_students['user_id'].count()

    #Media por lista por cada turma
#df_mean_list = (df_performance.groupby(['listQuestions_id'])['medialist'].sum() / total_students).reset_index(name='mediaListClass')
#newDf = pd.merge(df_performance, df_mean_list,on=['listQuestions_id']).sort_values(by=['user_id']).drop(columns = ['mediaListClass','totalHitPercentage', 'listQuestions_id', 'totalQuestionslist']).fillna(0)
    #newDf.loc[newDf['user_id']=='Alexandre Leonardo']
newDf = df_performance
newDf = newDf.groupby(['user_id', 'class_id'])['medialist'].sum().reset_index()
newDf['medialist'] = newDf['medialist'] / lists_df.count().values[0]
    #newDf
    #newDf[newDf['medialist']>=50].values[0]
    #newDf['medialist'].values[0]
    #for a in range(newDf.count().values[0]):
    #    if newDf['medialist'].values[a]>=50:
    #        b=b+1
    #b
newDf['aprovado'] = 2
for a in range(newDf.count().values[0]):
    if newDf['medialist'].values[a]>=50:
        newDf['aprovado'][a]=1
    else:
        newDf['aprovado'][a]=0
newDf[newDf['aprovado']==1]

,user_id,class_id,medialist,aprovado
1,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,57.357704,1
2,025b0056-585f-485e-92e7-57a0c7854cce,8f055c33-00ad-4284-aec8-da401901e795,50.177404,1
5,0343690d-9edd-48cf-be09-6dc1f4b3f61c,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1
6,035bbeb6-140b-413c-826d-9f92e36a31ae,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1
8,047eb461-ce62-4eb4-bf0f-edea350f4873,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1
...,...,...,...,...
473,f69adfc6-de1e-406d-bd3d-9edf2e562ac8,e9c7c378-eac4-44b2-b687-4dca6d77cd54,57.188043,1
477,f7817f2f-cd2e-424a-b085-0411dc4aa1d5,8f055c33-00ad-4284-aec8-da401901e795,56.154995,1
479,fb10ec34-7cf7-4ca7-910b-0cec1331b2b3,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1
485,fe3c3b36-a1ab-4365-b088-1686cd5177d0,d99923f0-d174-4902-9759-c8220b821d36,54.240896,1
486,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,53.301587,1

In [47]:
df_class_lop_t = df_class_lop.sort_values('createdAt')
name_class = df_class_lop_t['class_id'].iloc[0]
one_class = df_class_lop_t[df_class_lop_t['class_id']==name_class]
order_lists = one_class['listQuestions_id'].drop_duplicates().tolist()
users = one_class['user_id'].drop_duplicates().tolist()
usersp = one_class.groupby(['user_id'])['listQuestions_id'].count().reset_index(name='ateLista')
usersp['ateLista'] = 0
for x in range(len(users)):
    a=len(order_lists)
    while a!=0:
        one_studt = one_class[one_class['user_id']==users[x]]
        qtd_subm = one_studt[one_studt['listQuestions_id']==order_lists[a-1]]
        qtd_subm = qtd_subm.count().values[0]
        if qtd_subm == 0:
            a=a-1
        else:
            usersp['ateLista'][x] = a
            break
usersp

                                 user_id  ateLista
0   00ef5626-f029-49e8-aa27-1839357a55c0        15
1   0343690d-9edd-48cf-be09-6dc1f4b3f61c        15
2   035bbeb6-140b-413c-826d-9f92e36a31ae        14
3   04a9f776-feee-4b63-8127-50270693e39f        15
4   05c35721-051a-43fa-96b7-aeec0d0eafb5         2
..                                   ...       ...
85  e8af96e7-0bac-45ff-a498-f22acb1af407        15
86  ed3e0097-1441-41df-9e12-671039749c8e        15
87  f4e5c666-288b-4bbf-951b-56fd0fbb7f9f        15
88  f5874924-7ed6-421c-ac14-3c0bccf51c24        15
89  fe56d94c-26d1-4e75-85d1-0b10a07ece8b         6

[90 rows x 2 columns]

In [93]:
qtd_ateLista = usersp.groupby(['ateLista'])['user_id'].count().reset_index(name='totalDeAlunosAteLista')
qtd_ateLista
#os alunos que estao cituados na lista 17 a fizeram e os que estão na 15, somente fizeram ate a 15, mas nao fizeram a 17. 
#aparentemente, somente os alunos que fizeram a questao 16, foram alguns ques submeteram na lista 17; mesma coisa pra lista 6 e 12

    ateLista  totalDeAlunosAteLista
0          1                      2
1          2                      1
2          3                      1
3          4                      1
4          5                      2
5          6                      3
6          7                      2
7          9                      2
8         10                      3
9         11                      1
10        12                      3
11        13                      5
12        14                      5
13        15                     59

In [94]:
qtd_totalAteLista = qtd_ateLista
for x in range(len(qtd_totalAteLista)):
    qtd_totalAteLista['totalDeAlunosAteLista'][x+1]= qtd_totalAteLista['totalDeAlunosAteLista'][x] + qtd_totalAteLista['totalDeAlunosAteLista'][x+1]
    if x==len(qtd_totalAteLista)-2:
        break
qtd_totalAteLista
#apagar ultima linha

    ateLista  totalDeAlunosAteLista
0          1                      2
1          2                      3
2          3                      4
3          4                      5
4          5                      7
5          6                     10
6          7                     12
7          9                     14
8         10                     17
9         11                     18
10        12                     21
11        13                     26
12        14                     31
13        15                     90

In [50]:
#talvez alguns alunos desistam nas ultimas listas por ja terem passado/aprendido e podem acharem que nao precisam a fazer
#verificar se ate em que momento há aluno que não submete nas ultimas e acaba passando
#quando houver um numero maior de reprovados que aprovados, para aqueles que somente fizeram ate tal lista: marcar até este periodo

In [95]:
aprovados1 = newDf[newDf['class_id']==df_class_lop_t['class_id'].iloc[0]]
for a in range(len(qtd_totalAteLista)):
    atual = usersp[usersp['ateLista']==a]
    
    cont=0
    total=atual.count().values[0]
    for x in range(atual.count().values[0]):
        verif_user=aprovados1[aprovados1['user_id']==atual['user_id'].iloc[x]]
        if verif_user['aprovado'].values[0]==1:
            cont=cont+1
    qtd_totalAteLista['totalDeAlunosAteLista'][a]= (cont/total)
    if a==len(qtd_totalAteLista)-1:
        break
qtd_totalAteLista

    ateLista  totalDeAlunosAteLista
0          1                    NaN
1          2               1.000000
2          3               1.000000
3          4               0.000000
4          5               1.000000
5          6               0.500000
6          7               0.333333
7          9               0.500000
8         10                    NaN
9         11               1.000000
10        12               0.333333
11        13               0.000000
12        14               0.666667
13        15               0.400000