In [1]:
import pandas as pd
import numpy as np
from doc_bd import Manage_db
import json
import os
import mysql.connector
from mysql.connector import errorcode
import re
import urllib3 
import time
import warnings
warnings.filterwarnings('ignore')
urllib3.disable_warnings()
import matplotlib.pyplot as plt
from pymongo import MongoClient
#import sklearn

In [2]:
sql = Manage_db(database = 'lop2test', host = 'localhost', user='root', password='')

client = MongoClient("localhost", 27017)
db = client['lop2test']
submissions_lop = db['submissions']

#df_class.loc[df['id_class'] == 'f2dd7bef-5b5d-4cb3-9efa-aa8652af0605']
id_class = 'e378c59f-e815-4a41-95fc-e95e4432a34c'
#pd_data = pd.DataFrame([id_class], columns = ['id_class'])
condition = "WHERE class_id = 'e378c59f-e815-4a41-95fc-e95e4432a34c'"
df_submission = sql.search(table='submission')
list_quest_subm = df_submission.drop(['ip', 'id', 'environment','hitPercentage','timeConsuming','createdAt','type','language', 'answer', 'char_change_number', 'user_id', 'lesson_id', 'class_id', 'test_id'], axis=1).drop_duplicates()
df_submission_class = sql.search(table='submission', condition=condition)
df_lop_lists = sql.search(table='listQuestions')

df_lop_tests = sql.search(table='test')

df_class = sql.search(table='class')
df_quest = sql.search(table='question')

users_class = sql.search(table='classHasUser')
tag = sql.search(table='tag')
quest_tag = sql.search(table='questionHasTag')
df_list_q = sql.search(table='listHasQuestion')

In [3]:
tag.columns.values[0] ='tag_id'
list_class = df_submission_class['listQuestions_id'].drop_duplicates().reset_index(name='id')
a = df_lop_lists.columns.tolist()
df_list_class = pd.DataFrame(columns = a)

for i in range(list_class.count().values[0]):
    for a in range(df_lop_lists.count().values[0]):
        if list_class['id'][i] == df_lop_lists['id'][a]:
            b = dict(df_lop_lists.loc[a])
            df_list_class = df_list_class.append(b, ignore_index=True)
df_list_class.columns.values[0] = 'listQuestions_id'

test_class = df_submission_class['test_id'].drop_duplicates().reset_index(name='id')
a = df_lop_tests.columns.tolist()
df_test_class = pd.DataFrame(columns = a)

for i in range(test_class.count().values[0]):
    for a in range(df_lop_tests.count().values[0]):
        if test_class['id'][i] == df_lop_tests['id'][a]:
            b = dict(df_lop_tests.loc[a])
            df_test_class = df_test_class.append(b, ignore_index=True)
df_test_class.columns.values[0] = 'test_id'

quest_class = df_submission_class['question_id'].drop_duplicates().reset_index(name='id')
a = df_quest.columns.tolist()
df_quest_class = pd.DataFrame(columns = a)

for i in range(quest_class.count().values[0]):
    for a in range(df_quest.count().values[0]):
        if quest_class['id'][i] == df_quest['id'][a]:
            b = dict(df_quest.loc[a])
            df_quest_class = df_quest_class.append(b, ignore_index=True)
df_quest_class.columns.values[0] = 'question_id'

#verificando o total de questoes cadastrados em listas da turma 
list_name = df_list_class['listQuestions_id'].tolist()
a = df_list_q.columns.tolist()
df_q_l = pd.DataFrame(columns = a)

for i in range(df_list_class.count().values[0]):
    for a in range(df_list_q.count().values[0]):
        if df_list_class['listQuestions_id'][i] == df_list_q['list_id'][a]:
            b = dict(df_list_q.loc[a])
            df_q_l = df_q_l.append(b, ignore_index=True)

subs =[]
for x in submissions_lop.find():
    subs.append(x)
df_class_lop = pd.DataFrame(subs)

In [4]:
list_class = df_class_lop['listQuestions_id'].drop_duplicates().reset_index(name='id')
a = df_lop_lists.columns.tolist()
df_list_lop = pd.DataFrame(columns = a)

for i in range(list_class.count().values[0]):
    for a in range(df_lop_lists.count().values[0]):
        if list_class['id'][i] == df_lop_lists['id'][a]:
            b = dict(df_lop_lists.loc[a])
            df_list_lop = df_list_lop.append(b, ignore_index=True)
df_list_lop.columns.values[0] = 'listQuestions_id'
df_list_lop

,listQuestions_id,title,code,createdAt,updatedAt,author_id
0,9338cc7b-7cf4-4d9f-af63-25a7effa7189,(Lop) Estruturas de decisão - Múltiplas decisões,358922cf78,2020-03-23 16:07:21,2020-09-15 00:03:03,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
1,dd1cd083-6c00-4605-9ff1-163bd4069363,Repetição condicional - Lista Resolvida (LOP),f00e8a3272,2020-06-24 11:44:44,2020-06-24 13:30:49,2985b749-e081-400c-b2cc-97ae042a777d
2,aca84206-87b2-4478-afa4-6193119cc06a,Repetição condicional - Lista de Exercícios (LOP),0814ea8f94,2020-06-29 12:19:48,2020-06-29 12:19:48,2985b749-e081-400c-b2cc-97ae042a777d
3,c6f3f5e5-0b0c-4396-92ba-d22d4125f555,Laboratório 01 - Expressões Aritméticas,d0947edaac,2020-02-28 14:49:23,2020-02-28 14:49:23,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
4,813dedaa-0989-489b-9804-3850ae4b83d1,Repetição contada - Lista Prática (LOP),73a86e8081,2020-07-07 11:56:51,2020-07-07 11:56:51,02673ba8-1fcb-4cb0-9cf3-a789cab48731
5,f5bc770d-2ac7-4060-ab1c-e42b5541f7a7,Repetição contada - Lista de Exercícios (LOP),7a2e23fcb3,2020-07-07 11:59:39,2020-07-07 11:59:39,02673ba8-1fcb-4cb0-9cf3-a789cab48731
6,5ebe517f-50f2-4629-a22f-1dea895fce25,Aula - Funções Aritméticas,4749406f21,2020-03-04 21:55:18,2020-03-04 21:55:18,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
7,1551e3ed-c875-4bb3-8e4e-58407df40776,Vetores - Lista de Exercícios (LOP),309289819d,2020-07-16 17:37:42,2020-07-16 17:37:42,6a36fa60-665f-4d15-a9de-0a523b93ca71
8,cf509a46-6a97-440e-a5c0-f7ba7537ef96,(Lop) Estruturas de decisão - problemas sobre ...,5c2cb0df7d,2020-04-08 01:15:40,2020-04-08 01:15:40,None
9,e1f0e8be-54fe-4b54-8d6d-2451bedc0647,Treinamento - Expressões Aritméticas,87add2f05c,2020-03-06 16:09:41,2020-03-06 16:09:41,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
10,102050fa-c902-4258-a988-01dad84ff63f,Aula - Introdução Expressões Aritiméticas,3466d508bd,2020-02-28 20:41:17,2020-02-28 20:41:17,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
11,cf81af12-b0b7-40c2-8536-5e7445ace7a3,(Lop) Estruturas de decisão - Operadores Lógicos,6453a7da1d,2020-04-04 01:47:59,2020-09-15 00:02:40,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
12,0a2c49a2-482c-40d7-bc44-ee368f089560,Repetição condicional - Lista Prática (LOP),5dc5d4f372,2020-06-24 13:11:49,2020-06-24 13:30:28,2985b749-e081-400c-b2cc-97ae042a777d
13,c4d09d1b-73a5-45c6-8a0d-ead669114b65,Vetores - Lista Prática (LOP),95938010fe,2020-07-17 02:34:58,2020-07-17 02:34:58,9ed18ab4-989f-4905-b26a-84f647688ea2
14,93cd33c4-109a-401e-87e9-e26ff5929d37,Vetores - Lista Resolvida (LOP),3c9087f448,2020-07-16 00:56:16,2020-07-16 00:56:16,9ed18ab4-989f-4905-b26a-84f647688ea2
15,34691c68-f01d-46ad-808d-6bbd44bcd9a2,Repetição contada - Lista Resolvida (LOP),b04c721d7e,2020-07-06 13:55:27,2020-07-08 20:35:54,2985b749-e081-400c-b2cc-97ae042a777d
16,3ab11cee-77d1-4448-9587-880929570cf3,(Lop) Lista de Laboratório 2 - Estrutura de de...,5d418ccffa,2020-03-12 13:40:16,2020-03-12 13:40:16,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
17,70e6c800-7583-485d-ac9f-9c42c48dd785,Expressões Aritméticas - Lista Prática (LOP),cdc3e08481,2021-01-20 17:19:29,2021-01-20 17:19:29,02673ba8-1fcb-4cb0-9cf3-a789cab48731
18,f5b1d992-68de-4854-97d8-c4bd84bd593b,Estruturas de Decisão - Lista de Exercícios (LOP),ff2b68042d,2021-01-29 20:31:17,2021-01-29 20:31:17,02673ba8-1fcb-4cb0-9cf3-a789cab48731
19,70d1aa7e-00cb-4428-892f-9ac67cc50449,Estruturas de Decisão - Lista Prática (LOP),2833e8080c,2021-01-29 20:21:51,2021-01-29 20:21:51,02673ba8-1fcb-4cb0-9cf3-a789cab48731
20,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,Expressões Aritméticas - Lista de Exercícios (...,07a925de2f,2021-01-20 17:26:24,2021-01-20 17:26:24,02673ba8-1fcb-4cb0-9cf3-a789cab48731
21,dbfcc83c-f014-44ae-8260-f06d4e1370ba,Estruturas de Decisão - Lista Resolvida (LOP),f05a052fdd,2021-01-29 20:16:08,2021-02-01 13:32:47,02673ba8-1fcb-4cb0-9cf3-a789cab48731
22,4f3452ae-87d4-4a5f-9532-c7634da2cff0,Expressões Aritméticas - Lista Resolvida (LOP),dbf8561c3d,2021-01-20 17:01:26,2021-02-01 13:32:32,02673ba8-1fcb-4cb0-9cf3-a789cab48731
23,9bfe2a0b-120f-4df7-a3f7-89a8e100b0b1,Variáveis e expressões,17ef64c684,2020-03-04 13:23:54,2020-03-04 13:23:54,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
24,bd91406e-0a5a-4d22-8e7d-f61a4352b509,"Lab1_Variáveis, Constantes e Operadores",39a154d763,2020-03-06 14:08:48,2020-03-06 14:08:48,1a3aa181-9fc6-41e1-b61a-febd18f4eb23

In [5]:
#aprovados - acima da media
#submissoes da turma

#retirando da df_class_lop todas as turmas do 2020.1
l_classes = df_class_lop['class_id'].drop_duplicates().tolist()
nclasses = []
nclasses.append(l_classes[0])
nclasses.append(l_classes[5])
nclasses.append(l_classes[8])

df_class_lop = df_class_lop.drop( df_class_lop[df_class_lop['class_id']==nclasses[0]].index )
df_class_lop = df_class_lop.drop( df_class_lop[df_class_lop['class_id']==nclasses[1]].index )
df_class_lop = df_class_lop.drop( df_class_lop[df_class_lop['class_id']==nclasses[2]].index )

df_performance = df_class_lop.groupby(['class_id', 'user_id', 'listQuestions_id','question_id'])['hitPercentage'].max().reset_index()
#soma das notas por lista
df_performance = df_performance.groupby(['class_id', 'user_id','listQuestions_id'])['hitPercentage'].sum().reset_index()
#Me traz as porcentagens maximas de acerto por questão
df_performance = df_class_lop.groupby(['class_id', 'user_id','listQuestions_id','question_id'])['hitPercentage'].max().reset_index()
      #Soma as porcentagens de uma lista/prova unica
df_performance = df_performance.groupby(['class_id', 'user_id','listQuestions_id'])['hitPercentage'].sum().reset_index()
      #Renomeando para melhorar entendimento
df_performance.rename(columns={'hitPercentage':'totalHitPercentage'}, inplace = True)
#Listas cadastradas nessa turma
lists = df_class_lop['listQuestions_id'].drop_duplicates().values
#Lista de alunos
df_without_duplicates = df_class_lop.drop_duplicates(subset=['class_id', 'user_id'])
    #df_without_duplicates = df_without_duplicates[['user_id']]
df_prov = pd.DataFrame()
for lista in lists:
    df_users = df_without_duplicates.copy()
    df_users['listQuestions_id'] = lista
    df_prov = df_prov.append(df_users)
    #df_prov.loc[df_prov['user_id']=='Flávio']
df_performance = pd.merge(df_performance,df_prov, on=['class_id', 'user_id','listQuestions_id'], how='outer')#.fillna(0)  
    #df_question_data = df_quest.groupby(['listQuestions_id','question_id'])['id_list'].count().reset_index()
      #Conta quantas questões tem por lista
df_question_data = list_quest_subm.groupby(['listQuestions_id'])['question_id'].count().reset_index(name='totalQuestionslist')
      #Merge
df_performance = df_performance.merge(df_question_data, on = 'listQuestions_id')
    #Média de acerto por lista
df_performance['medialist'] = df_performance['totalHitPercentage'] / df_performance['totalQuestionslist']
      #Convertendo para datetime
df_lop_lists['createdAt'] = pd.to_datetime(df_lop_lists['createdAt'])
      #Criando campo com a data
df_lop_lists['dateList'] = df_lop_lists['createdAt'].dt.date
      #Merge
lists_df = df_list_lop
lists_df.columns.values[0] = 'listQuestions_id'

df_performance = pd.merge(df_performance, lists_df.drop(columns = ['createdAt']), on='listQuestions_id')
    #graph1
    #Número de alunos na turma
#total_students = df_class_lop.drop(['_id','timeInSecounds','question_id', 'listQuestions_id', 'id','environment','timeConsuming','createdAt','char_change_number', 'test_id', 'language', 'hitPercentage', 'ip', 'type', 'answer', 'lesson_id'], axis=1).drop_duplicates()
#total_students = total_students.groupby(['class_id'])['user_id'].count()
#total_students = total_students['user_id'].count()

    #Media por lista por cada turma
#df_mean_list = (df_performance.groupby(['listQuestions_id'])['medialist'].sum() / total_students).reset_index(name='mediaListClass')
#newDf = pd.merge(df_performance, df_mean_list,on=['listQuestions_id']).sort_values(by=['user_id']).drop(columns = ['mediaListClass','totalHitPercentage', 'listQuestions_id', 'totalQuestionslist']).fillna(0)
    #newDf.loc[newDf['user_id']=='Alexandre Leonardo']
newDf = df_performance
newDf = newDf.groupby(['user_id', 'class_id'])['medialist'].sum().reset_index()
newDf['medialist'] = newDf['medialist'] / lists_df.count().values[0]
    #newDf
    #newDf[newDf['medialist']>=50].values[0]
    #newDf['medialist'].values[0]
    #for a in range(newDf.count().values[0]):
    #    if newDf['medialist'].values[a]>=50:
    #        b=b+1
    #b
newDf['aprovado'] = 2
for a in range(newDf.count().values[0]):
    if newDf['medialist'].values[a]>=50:
        newDf['aprovado'][a]=1
    else:
        newDf['aprovado'][a]=0
newDf[newDf['aprovado']==1]

,user_id,class_id,medialist,aprovado
1,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,57.357704,1
2,025b0056-585f-485e-92e7-57a0c7854cce,8f055c33-00ad-4284-aec8-da401901e795,50.177404,1
5,0343690d-9edd-48cf-be09-6dc1f4b3f61c,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1
6,035bbeb6-140b-413c-826d-9f92e36a31ae,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1
8,047eb461-ce62-4eb4-bf0f-edea350f4873,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1
...,...,...,...,...
473,f69adfc6-de1e-406d-bd3d-9edf2e562ac8,e9c7c378-eac4-44b2-b687-4dca6d77cd54,57.188043,1
477,f7817f2f-cd2e-424a-b085-0411dc4aa1d5,8f055c33-00ad-4284-aec8-da401901e795,56.154995,1
479,fb10ec34-7cf7-4ca7-910b-0cec1331b2b3,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1
485,fe3c3b36-a1ab-4365-b088-1686cd5177d0,d99923f0-d174-4902-9759-c8220b821d36,54.240896,1
486,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,53.301587,1

In [113]:
#tem algo aqui dando erro
df_class_lop_t = df_class_lop.sort_values('createdAt')
name_class = df_class_lop_t['class_id'].iloc[0]
one_class = df_class_lop_t[df_class_lop_t['class_id']==name_class]
order_lists = one_class['listQuestions_id'].drop_duplicates().tolist()
users = one_class['user_id'].drop_duplicates().tolist()
usersp = one_class.groupby(['user_id'])['listQuestions_id'].count().reset_index(name='ateLista')
usersp['user_id']=users
usersp['ateLista'] = 0

#for x in range(len(users)):
#    a=len(order_lists)
#    while a!=0:
#        one_studt = one_class[one_class['user_id']==users[x]]
#        qtd_subm = one_studt[one_studt['listQuestions_id']==order_lists[a-1]]
#        qtd_subm = qtd_subm.count().values[0]
#        if qtd_subm == 0:
#            a=a-1
#        else:
#            usersp['ateLista'][x] = (a)
#            break
#usersp

#z = ['user_id','l1', 'l2','l3','l4','l5','l6','l7','l8','l9','l10','l11','l12','l13','l14','l15','l16']
#listas_f = pd.DataFrame(columns = z)

#one_studt = one_class[one_class['user_id']==users[0]]
#list_a = one_studt['listQuestions_id'].drop_duplicates().tolist()
#teste = []
#b = len(list_a)-1
#for x in range(len(order_lists)):
#    for a in range(len(list_a)):
#        if order_lists[x] == list_a[a]:
#            teste.append(1)
#            break
#        elif a==b:
#            teste.append(0)
#teste
    #one_studt['listQuestions_id'].drop_duplicates().tolist()
    #te = df_class_lop_t[df_class_lop_t['user_id']=='05c35721-051a-43fa-96b7-aeec0d0eafb5']
    #te['listQuestions_id'].drop_duplicates().tolist()
    
    
lista_ate = []
for x in range(len(users)):
    one_studt = one_class[one_class['user_id']==users[x]]
    qtd_ate_l0 = one_studt['listQuestions_id'].drop_duplicates().tolist()
#    qtd_ate_l = qtd_ate_l0[len(qtd_ate_l0)-1]
    maior = 0
    for x in range(len(qtd_ate_l0)):
        for z in range(len(order_lists)):
            if qtd_ate_l0[x] == order_lists[z]:
                if maior < z:
                    maior = z
    lista_ate.append(maior)
#te = one_class[one_class['user_id']==usersp['user_id'].iloc[5]]
#te = te['listQuestions_id'].drop_duplicates()
#te = te.count()
#te
usersp['ateLista']=lista_ate

a = one_class[one_class['user_id']=='00ef5626-f029-49e8-aa27-1839357a55c0']
qtd_ate_l0 = a['listQuestions_id'].drop_duplicates().tolist()
qtd_ate_l = qtd_ate_l0[len(qtd_ate_l0)-1]
maior = 0
for x in range(len(qtd_ate_l0)):
    for z in range(len(order_lists)):
        if qtd_ate_l0[x] == order_lists[z]:
            if maior < z:
                maior = z
print(maior)
#usersp
usersp[usersp['user_id']=='00ef5626-f029-49e8-aa27-1839357a55c0']

#teste = one_class[one_class['user_id']=='00ef5626-f029-49e8-aa27-1839357a55c0']
#teste['listQuestions_id'].drop_duplicates()
#order_lists

1

                                user_id  ateLista
4  00ef5626-f029-49e8-aa27-1839357a55c0         1

In [114]:
qtd_ateLista = usersp.groupby(['ateLista'])['user_id'].count().reset_index(name='totalDeAlunosAteLista')
qtd_ateLista
#os alunos que estao cituados na lista 17 a fizeram e os que estão na 15, somente fizeram ate a 15, mas nao fizeram a 17. 
#aparentemente, somente os alunos que fizeram a questao 16, foram alguns ques submeteram na lista 17; mesma coisa pra lista 6 e 12

   ateLista  totalDeAlunosAteLista
0         0                      1
1         1                      1
2         2                      1
3         3                      1
4        14                      2
5        15                     84

In [115]:
qtd_totalAteLista = qtd_ateLista
for x in range(len(qtd_totalAteLista)):
    qtd_totalAteLista['totalDeAlunosAteLista'][x+1]= qtd_totalAteLista['totalDeAlunosAteLista'][x] + qtd_totalAteLista['totalDeAlunosAteLista'][x+1]
    if x==len(qtd_totalAteLista)-2:
        break
qtd_totalAteLista
#apagar ultima linha

   ateLista  totalDeAlunosAteLista
0         0                      1
1         1                      2
2         2                      3
3         3                      4
4        14                      6
5        15                     90

In [116]:
#talvez alguns alunos desistam nas ultimas listas por ja terem passado/aprendido e podem acharem que nao precisam a fazer
#verificar se ate em que momento há aluno que não submete nas ultimas e acaba passando
#quando houver um numero maior de reprovados que aprovados, para aqueles que somente fizeram ate tal lista: marcar até este periodo

In [139]:
aprovados1 = newDf[newDf['class_id']==name_class]
usersAteApr = pd.merge(aprovados1,usersp, on=['user_id'], how='outer')
usersAteApr

,user_id,class_id,medialist,aprovado,ateLista
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.000000,0,1
1,0343690d-9edd-48cf-be09-6dc1f4b3f61c,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1,15
2,035bbeb6-140b-413c-826d-9f92e36a31ae,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
3,04a9f776-feee-4b63-8127-50270693e39f,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
4,05c35721-051a-43fa-96b7-aeec0d0eafb5,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1,15
...,...,...,...,...,...
85,e8af96e7-0bac-45ff-a498-f22acb1af407,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
86,ed3e0097-1441-41df-9e12-671039749c8e,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.333333,0,2
87,f4e5c666-288b-4bbf-951b-56fd0fbb7f9f,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
88,f5874924-7ed6-421c-ac14-3c0bccf51c24,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,37.333333,0,15
89,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,53.301587,1,15

In [146]:
aprovs = usersAteApr[usersQtdApr['aprovado']==1]
aprAlista = aprovs.groupby(['ateLista'])['aprovado'].count().reset_index(name='totalDeAprAteLista')
aprAlista

   ateLista  totalDeAprAteLista
0        14                   1
1        15                  51

In [148]:
ate_Lista = usersp.groupby(['ateLista'])['user_id'].count().reset_index(name='totalDeAlunosAteLista')
porcentAtePlista = usersp.groupby(['ateLista'])['user_id'].count().reset_index(name='totalDeAlunosAteLista')
porcentAtePlista['totalDeAlunosAteLista']=0.0
for x in range(len(ate_Lista)):
    for a in range(len(aprAlista)):
        if ate_Lista['ateLista'][x] == aprAlista['ateLista'][a]:
#            print(x)
            porcentAtePlista['totalDeAlunosAteLista'][x] = aprAlista['totalDeAprAteLista'][a] / ate_Lista['totalDeAlunosAteLista'][x]
#c = aprPlista['totalDeAprQtdLista'][2] / qtd_Lista['totalDeAlunosQtdLista'][13]
#c
porcentAtePlista

   ateLista  totalDeAlunosAteLista
0         0               0.000000
1         1               0.000000
2         2               0.000000
3         3               0.000000
4        14               0.500000
5        15               0.607143

In [125]:
user=df_class_lop[df_class_lop['user_id']=='4115a1c9-77f8-402b-be86-18acc8f13d6c']
user['listQuestions_id'].drop_duplicates().count()

15

In [126]:
user = user.groupby(['listQuestions_id','question_id'])['hitPercentage'].max().reset_index()
user

,listQuestions_id,question_id,hitPercentage
0,0a2c49a2-482c-40d7-bc44-ee368f089560,0bafadf5-560a-4335-a8ad-ac103c4506f8,100.0
1,0a2c49a2-482c-40d7-bc44-ee368f089560,24e8bcf3-c8c2-4da7-9509-b0a32ee92d26,100.0
2,0a2c49a2-482c-40d7-bc44-ee368f089560,7d3e769d-bb40-45cb-b7ff-00d84fd9038c,100.0
3,0a2c49a2-482c-40d7-bc44-ee368f089560,93bb5054-3e03-474e-b6ce-91e1a312e2b6,100.0
4,0a2c49a2-482c-40d7-bc44-ee368f089560,b30961ca-2439-424a-823a-47429b15502f,100.0
...,...,...,...
117,f5bc770d-2ac7-4060-ab1c-e42b5541f7a7,465c29d2-d975-40dd-ac8d-246b43a33535,100.0
118,f5bc770d-2ac7-4060-ab1c-e42b5541f7a7,46e5a4d1-6eb2-4808-a963-e45b8bbd34c1,100.0
119,f5bc770d-2ac7-4060-ab1c-e42b5541f7a7,cfe3be8b-6cbd-462c-b572-48f59c9958cb,100.0
120,f5bc770d-2ac7-4060-ab1c-e42b5541f7a7,d0f099fb-277a-4684-b9c9-38ff1116ef06,100.0
121,f5bc770d-2ac7-4060-ab1c-e42b5541f7a7,dfaa539b-270b-441b-a285-da8e2e4fa120,100.0

In [127]:
order_lists = one_class['listQuestions_id'].drop_duplicates().tolist()
#usersp = one_class.groupby(['listQuestions_id'])['user_id'].count().reset_index(name='ateLista')
#usersp['ateLista'] = 0
a=len(order_lists)
#while a!=0:
#    one_studt = df_class_lop[df_class_lop['user_id']=='4115a1c9-77f8-402b-be86-18acc8f13d6c']
#    qtd_subm = one_studt[one_studt['listQuestions_id']==order_lists[a-1]]
#    qtd_subm = qtd_subm.count().values[0]
#    if qtd_subm == 0:
#        a=a-1
#    else:
#        usersp['ateLista'][x] = a
#    break
#usersp
one_studt = df_class_lop[df_class_lop['user_id']=='4115a1c9-77f8-402b-be86-18acc8f13d6c']
qtd_subm = one_studt[one_studt['listQuestions_id']==order_lists[14]]
qtd_subm.count().values[0]

17

In [128]:
#salvando todas as submissoes em ordem temporal
df_class_lop_t = df_class_lop.sort_values('createdAt')
#pegando o id da class e salvando todas as suas submissoes
name_class = df_class_lop_t['class_id'].iloc[0]
one_class = df_class_lop_t[df_class_lop_t['class_id']==name_class]
#pegando as listas da turma em ordem
order_lists = one_class['listQuestions_id'].drop_duplicates().tolist()
#pegando a lista de alunos que submeteram questoes
users = one_class['user_id'].drop_duplicates().tolist()
#salavndo a quantidade de listas que cada aluno resolveu
usersQtd = one_class.groupby(['user_id','listQuestions_id'])['question_id'].count().reset_index(name='qtdLista')
usersQtd = usersQtd.groupby(['user_id'])['listQuestions_id'].count().reset_index(name='qtdLista')
#usersp['ateLista'] = 0
#for x in range(len(users)):
#    a=len(order_lists)
#    while a!=0:
#        one_studt = one_class[one_class['user_id']==users[x]]
#        qtd_subm = one_studt[one_studt['listQuestions_id']==order_lists[a-1]]
#        qtd_subm = qtd_subm.count().values[0]
#        if qtd_subm == 0:
#            a=a-1
#            continue
#        else:
#            usersp['ateLista'][x] = a
#            break
usersQtd

                                 user_id  qtdLista
0   00ef5626-f029-49e8-aa27-1839357a55c0         2
1   0343690d-9edd-48cf-be09-6dc1f4b3f61c        15
2   035bbeb6-140b-413c-826d-9f92e36a31ae        15
3   04a9f776-feee-4b63-8127-50270693e39f        15
4   05c35721-051a-43fa-96b7-aeec0d0eafb5        15
..                                   ...       ...
85  e8af96e7-0bac-45ff-a498-f22acb1af407        15
86  ed3e0097-1441-41df-9e12-671039749c8e         3
87  f4e5c666-288b-4bbf-951b-56fd0fbb7f9f        15
88  f5874924-7ed6-421c-ac14-3c0bccf51c24        10
89  fe56d94c-26d1-4e75-85d1-0b10a07ece8b        15

[90 rows x 2 columns]

In [129]:
qtd_Lista = usersQtd.groupby(['qtdLista'])['user_id'].count().reset_index(name='totalDeAlunosQtdLista')
qtd_Lista

    qtdLista  totalDeAlunosQtdLista
0          1                      2
1          2                      2
2          3                      1
3          4                      4
4          5                      1
5          6                      1
6          7                      1
7          9                      3
8         10                      2
9         11                      3
10        12                      7
11        13                      5
12        14                      8
13        15                     50

In [130]:
aprovados1 = newDf[newDf['class_id']==df_class_lop_t['class_id'].iloc[0]]
porc_qtd_Lista = usersQtd.groupby(['qtdLista'])['user_id'].count().reset_index(name='totalDeAlunosQtdLista')
for a in range(len(qtd_Lista)):
    atual = usersQtd[usersQtd['qtdLista']==a+1]
    print(atual)
    cont=0
    total=atual.count().values[0]
    for x in range(total):
        verif_user=aprovados1[aprovados1['user_id']==atual['user_id'].iloc[x]]
        if verif_user['aprovado'].values[0]==1:
            cont=cont+1
#    porc_qtd_Lista['totalDeAlunosQtdLista'][a]= (cont/total)
#    print(total)
#    if a==len(qtd_totalAteLista)-1:
#        break
#atual = usersQtd[usersQtd['qtdLista']==15]
#total=atual.count().values[0]
#verif_user=aprovados1[aprovados1['user_id']==atual['user_id'].iloc[0]]
#aprov = verif_user['aprovado'].values[0]
#porc_qtd_Lista

                                 user_id  qtdLista
7   0d327166-a647-4fa2-8def-1a64f55b223c         1
73  c206e495-e2a7-4fad-8cc1-eed9690dc6dc         1
                                 user_id  qtdLista
0   00ef5626-f029-49e8-aa27-1839357a55c0         2
14  1a3aa181-9fc6-41e1-b61a-febd18f4eb23         2
                                 user_id  qtdLista
86  ed3e0097-1441-41df-9e12-671039749c8e         3
                                 user_id  qtdLista
18  1eb39a33-8898-4a33-a978-b1db76e94c88         4
19  22215fc7-7011-4e76-bc64-27605710145d         4
21  2d994fe7-d982-4870-b187-606862334830         4
81  da131b91-0126-41ca-9e6e-17dad2104ffd         4
                                 user_id  qtdLista
26  35a86d2d-e321-4d35-997e-e908d5335bbe         5
                                 user_id  qtdLista
69  b9240348-c223-4c0d-b75f-09c522952143         6
                                 user_id  qtdLista
41  64cc36c5-4fcc-445a-b360-3a25c9783645         7
Empty DataFrame
Columns: [user_id, qtdLista]
Index: []
                                 user_id  qtdLista
20  230c55ef-88d5-4149-aad5-0696c4aa5df8         9
61  97b56b83-d8ef-406e-a875-6a0a7b107f9f         9
74  c44de1e4-1812-4155-a330-2f17d8bc9d23         9
                                 user_id  qtdLista
63  9fd9e9db-c163-4c65-b216-2e227c7fa1c3        10
88  f5874924-7ed6-421c-ac14-3c0bccf51c24        10
                                 user_id  qtdLista
9   105d68c3-d07d-4cc4-a706-f46d46c5101a        11
17  1d7ba1a4-4e54-44d6-a05c-c18a75817338        11
83  e665b54f-9a93-4e52-9e53-73f6e3853d4e        11
                                 user_id  qtdLista
5   06bddeab-42f1-428a-88d1-adf096da3432        12
16  1b845da2-b2e0-4e16-af64-c6b8673d14d3        12
23  32211158-57e9-4f25-a366-c736e009a740        12
28  3c40d867-e80a-4447-8f2c-7b4f9b8cc272        12
31  43dd8e83-481a-4abb-9773-f759d482affd        12
56  872865e3-6303-4b28-bd84-489d7e9111f6        12
79  d607a214-c9d6-4771-b3a9-3bc13a2d48a6        12
                                 user_id  qtdLista
32  46401a6b-f8a0-4aae-8298-433848a09bd0        13
39  6055380e-fafa-4dcb-b6db-34fcd0843098        13
57  8b8abf76-bef9-4d7f-a0e8-afead692300e        13
64  a0c65c61-ade0-45ca-b8f3-8b3c6a0c2331        13
67  abed98d7-b206-4eaf-a6e6-aa604bf881c6        13
                                 user_id  qtdLista
10  12dcea94-7fab-4488-a626-b64cdb0d6465        14
22  2e92504e-18aa-4a44-8644-5ea8aff4e216        14
27  39e453df-48f1-4988-b552-60c96fc67c4e        14
33  4d1c93d8-27fe-4dd5-abe0-09021ea31291        14
40  61378206-cf75-4fc0-95dc-43f6e81a788c        14
46  72290901-a9f2-490b-8c0d-32f90be1b1f7        14
70  bafe35cc-ce7e-484a-b496-6dcf0f99167e        14
82  dc04e57b-43e7-448a-8f4c-1b29fc696a8e        14

In [131]:
aprovados1 = newDf[newDf['class_id']==name_class]
usersQtdApr = pd.merge(aprovados1,usersQtd, on=['user_id'], how='outer')
usersQtdApr

,user_id,class_id,medialist,aprovado,qtdLista
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.000000,0,2
1,0343690d-9edd-48cf-be09-6dc1f4b3f61c,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1,15
2,035bbeb6-140b-413c-826d-9f92e36a31ae,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
3,04a9f776-feee-4b63-8127-50270693e39f,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
4,05c35721-051a-43fa-96b7-aeec0d0eafb5,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1,15
...,...,...,...,...,...
85,e8af96e7-0bac-45ff-a498-f22acb1af407,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
86,ed3e0097-1441-41df-9e12-671039749c8e,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.333333,0,3
87,f4e5c666-288b-4bbf-951b-56fd0fbb7f9f,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
88,f5874924-7ed6-421c-ac14-3c0bccf51c24,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,37.333333,0,10
89,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,53.301587,1,15

In [132]:
aprovs = usersQtdApr[usersQtdApr['aprovado']==1]
aprPlista = aprovs.groupby(['qtdLista'])['aprovado'].count().reset_index(name='totalDeAprQtdLista')
aprPlista

   qtdLista  totalDeAprQtdLista
0        13                   2
1        14                   3
2        15                  47

In [133]:
qtd_Lista = usersQtd.groupby(['qtdLista'])['user_id'].count().reset_index(name='totalDeAlunosQtdLista')
porcentAprPlista = usersQtd.groupby(['qtdLista'])['user_id'].count().reset_index(name='totalDeAlunosQtdLista')
porcentAprPlista['totalDeAlunosQtdLista']=0.0
for x in range(len(qtd_Lista)):
    for a in range(len(aprPlista)):
        if qtd_Lista['qtdLista'][x] == aprPlista['qtdLista'][a]:
#            print(x)
            porcentAprPlista['totalDeAlunosQtdLista'][x] = aprPlista['totalDeAprQtdLista'][a] / qtd_Lista['totalDeAlunosQtdLista'][x]
#c = aprPlista['totalDeAprQtdLista'][2] / qtd_Lista['totalDeAlunosQtdLista'][13]
#c
porcentAprPlista

    qtdLista  totalDeAlunosQtdLista
0          1                  0.000
1          2                  0.000
2          3                  0.000
3          4                  0.000
4          5                  0.000
5          6                  0.000
6          7                  0.000
7          9                  0.000
8         10                  0.000
9         11                  0.000
10        12                  0.000
11        13                  0.400
12        14                  0.375
13        15                  0.940

In [149]:
qtd_ateLista = usersp.groupby(['ateLista'])['user_id'].count().reset_index(name='totalDeAlunosAteLista')

aprovados1 = newDf[newDf['class_id']==name_class]
usersQtdApr2 = pd.merge(aprovados1,usersp, on=['user_id'], how='outer')
usersQtdApr2

,user_id,class_id,medialist,aprovado,ateLista
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.000000,0,1
1,0343690d-9edd-48cf-be09-6dc1f4b3f61c,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1,15
2,035bbeb6-140b-413c-826d-9f92e36a31ae,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
3,04a9f776-feee-4b63-8127-50270693e39f,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
4,05c35721-051a-43fa-96b7-aeec0d0eafb5,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1,15
...,...,...,...,...,...
85,e8af96e7-0bac-45ff-a498-f22acb1af407,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
86,ed3e0097-1441-41df-9e12-671039749c8e,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.333333,0,2
87,f4e5c666-288b-4bbf-951b-56fd0fbb7f9f,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15
88,f5874924-7ed6-421c-ac14-3c0bccf51c24,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,37.333333,0,15
89,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,53.301587,1,15

In [153]:
qtd_ate = pd.merge(usersQtd,usersp, on=['user_id'], how='outer')
usersQtdAte = pd.merge(aprovados1,qtd_ate, on=['user_id'], how='outer')
usersQtdAte

,user_id,class_id,medialist,aprovado,qtdLista,ateLista
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.000000,0,2,1
1,0343690d-9edd-48cf-be09-6dc1f4b3f61c,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1,15,15
2,035bbeb6-140b-413c-826d-9f92e36a31ae,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15,15
3,04a9f776-feee-4b63-8127-50270693e39f,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15,15
4,05c35721-051a-43fa-96b7-aeec0d0eafb5,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1,15,15
...,...,...,...,...,...,...
85,e8af96e7-0bac-45ff-a498-f22acb1af407,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15,15
86,ed3e0097-1441-41df-9e12-671039749c8e,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.333333,0,3,2
87,f4e5c666-288b-4bbf-951b-56fd0fbb7f9f,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,15,15
88,f5874924-7ed6-421c-ac14-3c0bccf51c24,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,37.333333,0,10,15
89,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,53.301587,1,15,15

In [154]:
porcentAtePlista

   ateLista  totalDeAlunosAteLista
0         0               0.000000
1         1               0.000000
2         2               0.000000
3         3               0.000000
4        14               0.500000
5        15               0.607143

In [137]:
#pode-se verificar a media de submissao POR QUESTAO FEITA para verificar os indices de evasão