In [1]:
import pandas as pd
import numpy as np
from doc_bd import Manage_db
import json
import os
import mysql.connector
from mysql.connector import errorcode
import re
import urllib3 
import time
import warnings
warnings.filterwarnings('ignore')
urllib3.disable_warnings()
import matplotlib.pyplot as plt
from pymongo import MongoClient
#import sklearn

In [2]:
sql = Manage_db(database = 'lop2test', host = 'localhost', user='root', password='')

client = MongoClient("localhost", 27017)
db = client['lop2test']
submissions_lop = db['submissions']

#df_class.loc[df['id_class'] == 'f2dd7bef-5b5d-4cb3-9efa-aa8652af0605']
id_class = 'e378c59f-e815-4a41-95fc-e95e4432a34c'
#pd_data = pd.DataFrame([id_class], columns = ['id_class'])
condition = "WHERE class_id = 'e378c59f-e815-4a41-95fc-e95e4432a34c'"
df_submission = sql.search(table='submission')
list_quest_subm = df_submission.drop(['ip', 'id', 'environment','hitPercentage','timeConsuming','createdAt','type','language', 'answer', 'char_change_number', 'user_id', 'lesson_id', 'class_id', 'test_id'], axis=1).drop_duplicates()
df_submission_class = sql.search(table='submission', condition=condition)
df_lop_lists = sql.search(table='listQuestions')

df_lop_tests = sql.search(table='test')

df_class = sql.search(table='class')
df_quest = sql.search(table='question')

users_class = sql.search(table='classHasUser')
tag = sql.search(table='tag')
quest_tag = sql.search(table='questionHasTag')
df_list_q = sql.search(table='listHasQuestion')

In [3]:
tag.columns.values[0] ='tag_id'
list_class = df_submission_class['listQuestions_id'].drop_duplicates().reset_index(name='id')
a = df_lop_lists.columns.tolist()
df_list_class = pd.DataFrame(columns = a)

for i in range(list_class.count().values[0]):
    for a in range(df_lop_lists.count().values[0]):
        if list_class['id'][i] == df_lop_lists['id'][a]:
            b = dict(df_lop_lists.loc[a])
            df_list_class = df_list_class.append(b, ignore_index=True)
df_list_class.columns.values[0] = 'listQuestions_id'

test_class = df_submission_class['test_id'].drop_duplicates().reset_index(name='id')
a = df_lop_tests.columns.tolist()
df_test_class = pd.DataFrame(columns = a)

for i in range(test_class.count().values[0]):
    for a in range(df_lop_tests.count().values[0]):
        if test_class['id'][i] == df_lop_tests['id'][a]:
            b = dict(df_lop_tests.loc[a])
            df_test_class = df_test_class.append(b, ignore_index=True)
df_test_class.columns.values[0] = 'test_id'

quest_class = df_submission_class['question_id'].drop_duplicates().reset_index(name='id')
a = df_quest.columns.tolist()
df_quest_class = pd.DataFrame(columns = a)

for i in range(quest_class.count().values[0]):
    for a in range(df_quest.count().values[0]):
        if quest_class['id'][i] == df_quest['id'][a]:
            b = dict(df_quest.loc[a])
            df_quest_class = df_quest_class.append(b, ignore_index=True)
df_quest_class.columns.values[0] = 'question_id'

#verificando o total de questoes cadastrados em listas da turma 
list_name = df_list_class['listQuestions_id'].tolist()
a = df_list_q.columns.tolist()
df_q_l = pd.DataFrame(columns = a)

for i in range(df_list_class.count().values[0]):
    for a in range(df_list_q.count().values[0]):
        if df_list_class['listQuestions_id'][i] == df_list_q['list_id'][a]:
            b = dict(df_list_q.loc[a])
            df_q_l = df_q_l.append(b, ignore_index=True)

subs =[]
for x in submissions_lop.find():
    subs.append(x)
df_class_lop = pd.DataFrame(subs)

In [4]:
list_class = df_class_lop['listQuestions_id'].drop_duplicates().reset_index(name='id')
a = df_lop_lists.columns.tolist()
df_list_lop = pd.DataFrame(columns = a)

for i in range(list_class.count().values[0]):
    for a in range(df_lop_lists.count().values[0]):
        if list_class['id'][i] == df_lop_lists['id'][a]:
            b = dict(df_lop_lists.loc[a])
            df_list_lop = df_list_lop.append(b, ignore_index=True)
df_list_lop.columns.values[0] = 'listQuestions_id'
df_list_lop

,listQuestions_id,title,code,createdAt,updatedAt,author_id
0,9338cc7b-7cf4-4d9f-af63-25a7effa7189,(Lop) Estruturas de decisão - Múltiplas decisões,358922cf78,2020-03-23 16:07:21,2020-09-15 00:03:03,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
1,dd1cd083-6c00-4605-9ff1-163bd4069363,Repetição condicional - Lista Resolvida (LOP),f00e8a3272,2020-06-24 11:44:44,2020-06-24 13:30:49,2985b749-e081-400c-b2cc-97ae042a777d
2,aca84206-87b2-4478-afa4-6193119cc06a,Repetição condicional - Lista de Exercícios (LOP),0814ea8f94,2020-06-29 12:19:48,2020-06-29 12:19:48,2985b749-e081-400c-b2cc-97ae042a777d
3,c6f3f5e5-0b0c-4396-92ba-d22d4125f555,Laboratório 01 - Expressões Aritméticas,d0947edaac,2020-02-28 14:49:23,2020-02-28 14:49:23,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
4,813dedaa-0989-489b-9804-3850ae4b83d1,Repetição contada - Lista Prática (LOP),73a86e8081,2020-07-07 11:56:51,2020-07-07 11:56:51,02673ba8-1fcb-4cb0-9cf3-a789cab48731
5,f5bc770d-2ac7-4060-ab1c-e42b5541f7a7,Repetição contada - Lista de Exercícios (LOP),7a2e23fcb3,2020-07-07 11:59:39,2020-07-07 11:59:39,02673ba8-1fcb-4cb0-9cf3-a789cab48731
6,5ebe517f-50f2-4629-a22f-1dea895fce25,Aula - Funções Aritméticas,4749406f21,2020-03-04 21:55:18,2020-03-04 21:55:18,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
7,1551e3ed-c875-4bb3-8e4e-58407df40776,Vetores - Lista de Exercícios (LOP),309289819d,2020-07-16 17:37:42,2020-07-16 17:37:42,6a36fa60-665f-4d15-a9de-0a523b93ca71
8,cf509a46-6a97-440e-a5c0-f7ba7537ef96,(Lop) Estruturas de decisão - problemas sobre ...,5c2cb0df7d,2020-04-08 01:15:40,2020-04-08 01:15:40,None
9,e1f0e8be-54fe-4b54-8d6d-2451bedc0647,Treinamento - Expressões Aritméticas,87add2f05c,2020-03-06 16:09:41,2020-03-06 16:09:41,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
10,102050fa-c902-4258-a988-01dad84ff63f,Aula - Introdução Expressões Aritiméticas,3466d508bd,2020-02-28 20:41:17,2020-02-28 20:41:17,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
11,cf81af12-b0b7-40c2-8536-5e7445ace7a3,(Lop) Estruturas de decisão - Operadores Lógicos,6453a7da1d,2020-04-04 01:47:59,2020-09-15 00:02:40,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
12,0a2c49a2-482c-40d7-bc44-ee368f089560,Repetição condicional - Lista Prática (LOP),5dc5d4f372,2020-06-24 13:11:49,2020-06-24 13:30:28,2985b749-e081-400c-b2cc-97ae042a777d
13,c4d09d1b-73a5-45c6-8a0d-ead669114b65,Vetores - Lista Prática (LOP),95938010fe,2020-07-17 02:34:58,2020-07-17 02:34:58,9ed18ab4-989f-4905-b26a-84f647688ea2
14,93cd33c4-109a-401e-87e9-e26ff5929d37,Vetores - Lista Resolvida (LOP),3c9087f448,2020-07-16 00:56:16,2020-07-16 00:56:16,9ed18ab4-989f-4905-b26a-84f647688ea2
15,34691c68-f01d-46ad-808d-6bbd44bcd9a2,Repetição contada - Lista Resolvida (LOP),b04c721d7e,2020-07-06 13:55:27,2020-07-08 20:35:54,2985b749-e081-400c-b2cc-97ae042a777d
16,3ab11cee-77d1-4448-9587-880929570cf3,(Lop) Lista de Laboratório 2 - Estrutura de de...,5d418ccffa,2020-03-12 13:40:16,2020-03-12 13:40:16,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
17,70e6c800-7583-485d-ac9f-9c42c48dd785,Expressões Aritméticas - Lista Prática (LOP),cdc3e08481,2021-01-20 17:19:29,2021-01-20 17:19:29,02673ba8-1fcb-4cb0-9cf3-a789cab48731
18,f5b1d992-68de-4854-97d8-c4bd84bd593b,Estruturas de Decisão - Lista de Exercícios (LOP),ff2b68042d,2021-01-29 20:31:17,2021-01-29 20:31:17,02673ba8-1fcb-4cb0-9cf3-a789cab48731
19,70d1aa7e-00cb-4428-892f-9ac67cc50449,Estruturas de Decisão - Lista Prática (LOP),2833e8080c,2021-01-29 20:21:51,2021-01-29 20:21:51,02673ba8-1fcb-4cb0-9cf3-a789cab48731
20,42d5c4ad-7b44-4e4e-b2e5-2997785132c8,Expressões Aritméticas - Lista de Exercícios (...,07a925de2f,2021-01-20 17:26:24,2021-01-20 17:26:24,02673ba8-1fcb-4cb0-9cf3-a789cab48731
21,dbfcc83c-f014-44ae-8260-f06d4e1370ba,Estruturas de Decisão - Lista Resolvida (LOP),f05a052fdd,2021-01-29 20:16:08,2021-02-01 13:32:47,02673ba8-1fcb-4cb0-9cf3-a789cab48731
22,4f3452ae-87d4-4a5f-9532-c7634da2cff0,Expressões Aritméticas - Lista Resolvida (LOP),dbf8561c3d,2021-01-20 17:01:26,2021-02-01 13:32:32,02673ba8-1fcb-4cb0-9cf3-a789cab48731
23,9bfe2a0b-120f-4df7-a3f7-89a8e100b0b1,Variáveis e expressões,17ef64c684,2020-03-04 13:23:54,2020-03-04 13:23:54,1a3aa181-9fc6-41e1-b61a-febd18f4eb23
24,bd91406e-0a5a-4d22-8e7d-f61a4352b509,"Lab1_Variáveis, Constantes e Operadores",39a154d763,2020-03-06 14:08:48,2020-03-06 14:08:48,1a3aa181-9fc6-41e1-b61a-febd18f4eb23

In [5]:
#aprovados - acima da media
#submissoes da turma

#retirando da df_class_lop todas as turmas do 2020.1
l_classes = df_class_lop['class_id'].drop_duplicates().tolist()
nclasses = []
nclasses.append(l_classes[0])
nclasses.append(l_classes[5])
nclasses.append(l_classes[8])

df_class_lop = df_class_lop.drop( df_class_lop[df_class_lop['class_id']==nclasses[0]].index )
df_class_lop = df_class_lop.drop( df_class_lop[df_class_lop['class_id']==nclasses[1]].index )
df_class_lop = df_class_lop.drop( df_class_lop[df_class_lop['class_id']==nclasses[2]].index )

df_performance = df_class_lop.groupby(['class_id', 'user_id', 'listQuestions_id','question_id'])['hitPercentage'].max().reset_index()
#soma das notas por lista
df_performance = df_performance.groupby(['class_id', 'user_id','listQuestions_id'])['hitPercentage'].sum().reset_index()
#Me traz as porcentagens maximas de acerto por questão
df_performance = df_class_lop.groupby(['class_id', 'user_id','listQuestions_id','question_id'])['hitPercentage'].max().reset_index()
      #Soma as porcentagens de uma lista/prova unica
df_performance = df_performance.groupby(['class_id', 'user_id','listQuestions_id'])['hitPercentage'].sum().reset_index()
      #Renomeando para melhorar entendimento
df_performance.rename(columns={'hitPercentage':'totalHitPercentage'}, inplace = True)
#Listas cadastradas nessa turma
lists = df_class_lop['listQuestions_id'].drop_duplicates().values
#Lista de alunos
df_without_duplicates = df_class_lop.drop_duplicates(subset=['class_id', 'user_id'])

df_prov = pd.DataFrame()
for lista in lists:
    df_users = df_without_duplicates.copy()
    df_users['listQuestions_id'] = lista
    df_prov = df_prov.append(df_users)

df_performance = pd.merge(df_performance,df_prov, on=['class_id', 'user_id','listQuestions_id'], how='outer')#.fillna(0)  
      #Conta quantas questões tem por lista
df_question_data = list_quest_subm.groupby(['listQuestions_id'])['question_id'].count().reset_index(name='totalQuestionslist')
      #Merge
df_performance = df_performance.merge(df_question_data, on = 'listQuestions_id')
    #Média de acerto por lista
df_performance['medialist'] = df_performance['totalHitPercentage'] / df_performance['totalQuestionslist']
      #Convertendo para datetime
df_lop_lists['createdAt'] = pd.to_datetime(df_lop_lists['createdAt'])
      #Criando campo com a data
df_lop_lists['dateList'] = df_lop_lists['createdAt'].dt.date
      #Merge
lists_df = df_list_lop
lists_df.columns.values[0] = 'listQuestions_id'

df_performance = pd.merge(df_performance, lists_df.drop(columns = ['createdAt']), on='listQuestions_id')
    #graph1
    #Número de alunos na turma
    #Media por lista por cada turma
newDf = df_performance
newDf = newDf.groupby(['user_id', 'class_id'])['medialist'].sum().reset_index()
newDf['medialist'] = newDf['medialist'] / lists_df.count().values[0]

newDf['aprovado'] = 2
for a in range(newDf.count().values[0]):
    if newDf['medialist'].values[a]>=50:
        newDf['aprovado'][a]=1
    else:
        newDf['aprovado'][a]=0
newDf[newDf['aprovado']==1]

,user_id,class_id,medialist,aprovado
1,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,57.357704,1
2,025b0056-585f-485e-92e7-57a0c7854cce,8f055c33-00ad-4284-aec8-da401901e795,50.177404,1
5,0343690d-9edd-48cf-be09-6dc1f4b3f61c,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,56.126984,1
6,035bbeb6-140b-413c-826d-9f92e36a31ae,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1
8,047eb461-ce62-4eb4-bf0f-edea350f4873,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1
...,...,...,...,...
473,f69adfc6-de1e-406d-bd3d-9edf2e562ac8,e9c7c378-eac4-44b2-b687-4dca6d77cd54,57.188043,1
477,f7817f2f-cd2e-424a-b085-0411dc4aa1d5,8f055c33-00ad-4284-aec8-da401901e795,56.154995,1
479,fb10ec34-7cf7-4ca7-910b-0cec1331b2b3,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1
485,fe3c3b36-a1ab-4365-b088-1686cd5177d0,d99923f0-d174-4902-9759-c8220b821d36,54.240896,1
486,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,53.301587,1

In [113]:
df_class_lop_t = df_class_lop.sort_values('createdAt')
classes = df_class_lop_t['class_id'].drop_duplicates().tolist()

order_lists = pd.DataFrame(columns = ['class_id', 'listQuestions_id'])
for i in range(len(classes)):
    one_class = df_class_lop_t[df_class_lop_t['class_id']==classes[i]]
    order_lists0 = one_class['listQuestions_id'].drop_duplicates().tolist()
    for a in range(len(order_lists0)):
        b = dict({'class_id':classes[i], 'listQuestions_id':order_lists0[a]})
        order_lists = order_lists.append(b, ignore_index=True)
#oberservar a ordem de saída de cada user para não ter problemas posteriores, 
#por conta da ordem de inserção do 'ateLista' para cada aluno
usersp = df_class_lop_t.drop_duplicates(subset=['class_id', 'user_id']).drop(['_id','id','ip','type', 'environment', 'hitPercentage','timeConsuming','createdAt','language', 'answer', 'char_change_number', 'lesson_id','test_id', 'question_id', 'listQuestions_id'], axis=1)
usersp['ateLista'] = 0

one_class = df_class_lop_t[df_class_lop_t['class_id']==classes[0]]
users = one_class['user_id'].drop_duplicates().tolist()

alunoPclass = pd.DataFrame(columns = ['class_id', 'qtd_user'])
for x in range(len(classes)):
    teste = df_class_lop_t[df_class_lop_t['class_id']==classes[x]]
    teste = teste['user_id'].drop_duplicates()
    teste = teste.count()
    b = dict({'class_id':classes[x], 'qtd_user':teste})
    alunoPclass = alunoPclass.append(b, ignore_index=True)
alunoPclass

                               class_id qtd_user
0  8394d1cb-86b5-4b90-bc62-4b9b192a81f6       90
1  d99923f0-d174-4902-9759-c8220b821d36       55
2  6d04019e-905c-4d70-810a-a7f1fa34fe22       40
3  8f055c33-00ad-4284-aec8-da401901e795       99
4  77335557-c5d1-4144-be6e-84b6114ec22e       22
5  f7144f91-f493-4e55-aac5-39f0d4add995      105
6  e9c7c378-eac4-44b2-b687-4dca6d77cd54       76

In [120]:
lista_ate = []
cont = 0
for i in range(alunoPclass.count().values[0]):
    one_class = df_class_lop_t[df_class_lop_t['class_id']==classes[i]]
    users = one_class['user_id'].drop_duplicates().tolist()
    for y in range(alunoPclass['qtd_user'][i]):
        one_studt = one_class[one_class['user_id']==users[y]]
        qtd_ate_l0 = one_studt['listQuestions_id'].drop_duplicates().tolist()
        maior = 0
        for x in range(len(qtd_ate_l0)):
            order_lists1 = order_lists[order_lists['class_id']==classes[i]]
            order_lists1 = order_lists1['listQuestions_id'].tolist()
            cont=cont+1
            for z in range(len(order_lists1)):
                if qtd_ate_l0[x] == order_lists1[z]:
                    if maior < z:
                        maior = z
        if(users[y]=='fe3c3b36-a1ab-4365-b088-1686cd5177d0'):
            print(maior)
            print(cont)
        lista_ate.append(maior)

usersp['ateLista']=lista_ate

#codigo está colocando o 'lista_ate' em uma ordem diferente dos usuarios'
#user 'fe3c3b36-a1ab-4365-b088-1686cd5177d0' deveria estar no index 1629
#verificar erro

#usersp[usersp['user_id']=='fe3c3b36-a1ab-4365-b088-1686cd5177d0']
teste = df_class_lop_t[df_class_lop_t['user_id']=='fe3c3b36-a1ab-4365-b088-1686cd5177d0']
teste = teste['listQuestions_id'].drop_duplicates()
teste

15
1629

134911    4f3452ae-87d4-4a5f-9532-c7634da2cff0
143856    70e6c800-7583-485d-ac9f-9c42c48dd785
141617    42d5c4ad-7b44-4e4e-b2e5-2997785132c8
144254    dbfcc83c-f014-44ae-8260-f06d4e1370ba
141749    70d1aa7e-00cb-4428-892f-9ac67cc50449
144352    f5b1d992-68de-4854-97d8-c4bd84bd593b
146424                                    None
144987    dd1cd083-6c00-4605-9ff1-163bd4069363
145258    0a2c49a2-482c-40d7-bc44-ee368f089560
147666    aca84206-87b2-4478-afa4-6193119cc06a
146388    34691c68-f01d-46ad-808d-6bbd44bcd9a2
147351    813dedaa-0989-489b-9804-3850ae4b83d1
141112    f5bc770d-2ac7-4060-ab1c-e42b5541f7a7
143175    93cd33c4-109a-401e-87e9-e26ff5929d37
130991    c4d09d1b-73a5-45c6-8a0d-ead669114b65
130802    1551e3ed-c875-4bb3-8e4e-58407df40776
Name: listQuestions_id, dtype: object

In [87]:
#para verificar por turma
#qtd_ateLista = usersp.groupby(['ateLista', 'class_id'])['user_id'].count().reset_index(name='totalDeAlunosAteLista')
qtd_ateLista = usersp.groupby(['ateLista'])['user_id'].count().reset_index(name='totalDeAlunosAteLista')
qtd_ateLista

    ateLista  totalDeAlunosAteLista
0          0                     19
1          1                     13
2          2                     10
3          3                      8
4          4                      8
5          5                     10
6          6                     10
7          7                      7
8          8                     10
9          9                      7
10        10                      4
11        11                     23
12        12                     27
13        13                     35
14        14                     46
15        15                    250

In [88]:
qtd_totalAteLista = qtd_ateLista
for x in range(len(qtd_totalAteLista)):
    qtd_totalAteLista['totalDeAlunosAteLista'][x+1]= qtd_totalAteLista['totalDeAlunosAteLista'][x] + qtd_totalAteLista['totalDeAlunosAteLista'][x+1]
    if x==len(qtd_totalAteLista)-2:
        break
qtd_totalAteLista
#apagar ultima linha

    ateLista  totalDeAlunosAteLista
0          0                     19
1          1                     32
2          2                     42
3          3                     50
4          4                     58
5          5                     68
6          6                     78
7          7                     85
8          8                     95
9          9                    102
10        10                    106
11        11                    129
12        12                    156
13        13                    191
14        14                    237
15        15                    487

In [91]:
#erro
usersAteApr = pd.merge(newDf,usersp, on=['user_id', 'class_id'], how='outer')
usersAteApr

,user_id,class_id,medialist,aprovado,ateLista
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.000000,0,1
1,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,57.357704,1,15
2,025b0056-585f-485e-92e7-57a0c7854cce,8f055c33-00ad-4284-aec8-da401901e795,50.177404,1,15
3,02938d00-c7c8-4eaa-8d6b-3d7b3558abae,8f055c33-00ad-4284-aec8-da401901e795,20.817001,0,14
4,03387725-33e3-417c-9093-3efb20c5ef08,6d04019e-905c-4d70-810a-a7f1fa34fe22,4.074208,0,15
...,...,...,...,...,...
482,fbf55485-b2ca-429b-89d3-88ef2cd02105,8f055c33-00ad-4284-aec8-da401901e795,11.044947,0,15
483,fd66de81-b657-41bb-9903-73370d0a0158,f7144f91-f493-4e55-aac5-39f0d4add995,8.666667,0,14
484,fe12589b-3acd-4c67-9387-314b600fb8c3,8f055c33-00ad-4284-aec8-da401901e795,18.470588,0,14
485,fe3c3b36-a1ab-4365-b088-1686cd5177d0,d99923f0-d174-4902-9759-c8220b821d36,54.240896,1,7
486,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,53.301587,1,15

In [92]:
#erro
aprovs = usersAteApr[usersAteApr['aprovado']==1]
aprAlista = aprovs.groupby(['ateLista'])['aprovado'].count().reset_index(name='totalDeAprAteLista')
aprAlista

    ateLista  totalDeAprAteLista
0          0                   5
1          1                   8
2          2                   2
3          3                   3
4          4                   5
5          5                   1
6          6                   2
7          7                   1
8          8                   2
9          9                   2
10        10                   3
11        11                  11
12        12                  13
13        13                   8
14        14                  11
15        15                 144

In [93]:
ate_Lista = usersp.groupby(['ateLista'])['user_id'].count().reset_index(name='totalDeAlunosAteLista')
porcentAtePlista = usersp.groupby(['ateLista'])['user_id'].count().reset_index(name='totalDeAlunosAteLista')
porcentAtePlista['totalDeAlunosAteLista']=0.0
for x in range(len(ate_Lista)):
    for a in range(len(aprAlista)):
        if ate_Lista['ateLista'][x] == aprAlista['ateLista'][a]:
            porcentAtePlista['totalDeAlunosAteLista'][x] = aprAlista['totalDeAprAteLista'][a] / ate_Lista['totalDeAlunosAteLista'][x]
porcentAtePlista

    ateLista  totalDeAlunosAteLista
0          0               0.263158
1          1               0.615385
2          2               0.200000
3          3               0.375000
4          4               0.625000
5          5               0.100000
6          6               0.200000
7          7               0.142857
8          8               0.200000
9          9               0.285714
10        10               0.750000
11        11               0.478261
12        12               0.481481
13        13               0.228571
14        14               0.239130
15        15               0.576000

In [99]:
#salvando todas as submissoes em ordem temporal
df_class_lop_t = df_class_lop.sort_values('createdAt')
#salavndo a quantidade de listas que cada aluno resolveu
usersQtd = df_class_lop_t.groupby(['user_id','listQuestions_id', 'class_id'])['question_id'].count().reset_index(name='qtdLista')
usersQtd = usersQtd.groupby(['user_id', 'class_id'])['listQuestions_id'].count().reset_index(name='qtdLista')

usersQtd

,user_id,class_id,qtdLista
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,2
1,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,15
2,025b0056-585f-485e-92e7-57a0c7854cce,8f055c33-00ad-4284-aec8-da401901e795,14
3,02938d00-c7c8-4eaa-8d6b-3d7b3558abae,8f055c33-00ad-4284-aec8-da401901e795,9
4,03387725-33e3-417c-9093-3efb20c5ef08,6d04019e-905c-4d70-810a-a7f1fa34fe22,2
...,...,...,...
480,fbf55485-b2ca-429b-89d3-88ef2cd02105,8f055c33-00ad-4284-aec8-da401901e795,6
481,fd66de81-b657-41bb-9903-73370d0a0158,f7144f91-f493-4e55-aac5-39f0d4add995,3
482,fe12589b-3acd-4c67-9387-314b600fb8c3,8f055c33-00ad-4284-aec8-da401901e795,8
483,fe3c3b36-a1ab-4365-b088-1686cd5177d0,d99923f0-d174-4902-9759-c8220b821d36,15
484,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,15

In [100]:
qtd_Lista = usersQtd.groupby(['qtdLista'])['user_id'].count().reset_index(name='totalDeAlunosQtdLista')
qtd_Lista

    qtdLista  totalDeAlunosQtdLista
0          1                     25
1          2                     21
2          3                     24
3          4                     17
4          5                     14
5          6                     16
6          7                     11
7          8                     21
8          9                     18
9         10                     10
10        11                     14
11        12                     35
12        13                     17
13        14                     26
14        15                    216

In [102]:
porc_qtd_Lista = usersQtd.groupby(['qtdLista'])['user_id'].count().reset_index(name='totalDeAlunosQtdLista')
for a in range(len(qtd_Lista)):
    atual = usersQtd[usersQtd['qtdLista']==a+1]
    cont=0
    total=atual.count().values[0]
    for x in range(total):
        verif_user=newDf[newDf['user_id']==atual['user_id'].iloc[x]]
        if verif_user['aprovado'].values[0]==1:
            cont=cont+1
#    porc_qtd_Lista['totalDeAlunosQtdLista'][a]= (cont/total)
#    print(total)
#    if a==len(qtd_totalAteLista)-1:
#        break
#atual = usersQtd[usersQtd['qtdLista']==15]
#total=atual.count().values[0]
#verif_user=aprovados1[aprovados1['user_id']==atual['user_id'].iloc[0]]
#aprov = verif_user['aprovado'].values[0]
#porc_qtd_Lista

In [104]:
usersQtdApr = pd.merge(newDf,usersQtd, on=['user_id', 'class_id'], how='outer')
usersQtdApr

,user_id,class_id,medialist,aprovado,qtdLista
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.000000,0,2.0
1,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,57.357704,1,15.0
2,025b0056-585f-485e-92e7-57a0c7854cce,8f055c33-00ad-4284-aec8-da401901e795,50.177404,1,14.0
3,02938d00-c7c8-4eaa-8d6b-3d7b3558abae,8f055c33-00ad-4284-aec8-da401901e795,20.817001,0,9.0
4,03387725-33e3-417c-9093-3efb20c5ef08,6d04019e-905c-4d70-810a-a7f1fa34fe22,4.074208,0,2.0
...,...,...,...,...,...
482,fbf55485-b2ca-429b-89d3-88ef2cd02105,8f055c33-00ad-4284-aec8-da401901e795,11.044947,0,6.0
483,fd66de81-b657-41bb-9903-73370d0a0158,f7144f91-f493-4e55-aac5-39f0d4add995,8.666667,0,3.0
484,fe12589b-3acd-4c67-9387-314b600fb8c3,8f055c33-00ad-4284-aec8-da401901e795,18.470588,0,8.0
485,fe3c3b36-a1ab-4365-b088-1686cd5177d0,d99923f0-d174-4902-9759-c8220b821d36,54.240896,1,15.0
486,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,53.301587,1,15.0

In [105]:
aprovs = usersQtdApr[usersQtdApr['aprovado']==1]
aprPlista = aprovs.groupby(['qtdLista'])['aprovado'].count().reset_index(name='totalDeAprQtdLista')
aprPlista

   qtdLista  totalDeAprQtdLista
0      13.0                   4
1      14.0                  14
2      15.0                 203

In [106]:
qtd_Lista = usersQtd.groupby(['qtdLista'])['user_id'].count().reset_index(name='totalDeAlunosQtdLista')
porcentAprPlista = usersQtd.groupby(['qtdLista'])['user_id'].count().reset_index(name='totalDeAlunosQtdLista')
porcentAprPlista['totalDeAlunosQtdLista']=0.0
for x in range(len(qtd_Lista)):
    for a in range(len(aprPlista)):
        if qtd_Lista['qtdLista'][x] == aprPlista['qtdLista'][a]:
#            print(x)
            porcentAprPlista['totalDeAlunosQtdLista'][x] = aprPlista['totalDeAprQtdLista'][a] / qtd_Lista['totalDeAlunosQtdLista'][x]
#c = aprPlista['totalDeAprQtdLista'][2] / qtd_Lista['totalDeAlunosQtdLista'][13]
#c
porcentAprPlista

    qtdLista  totalDeAlunosQtdLista
0          1               0.000000
1          2               0.000000
2          3               0.000000
3          4               0.000000
4          5               0.000000
5          6               0.000000
6          7               0.000000
7          8               0.000000
8          9               0.000000
9         10               0.000000
10        11               0.000000
11        12               0.000000
12        13               0.235294
13        14               0.538462
14        15               0.939815

In [108]:
qtd_ateLista = usersp.groupby(['ateLista'])['user_id'].count().reset_index(name='totalDeAlunosAteLista')

usersQtdApr2 = pd.merge(newDf,usersp, on=['user_id','class_id'], how='outer')
usersQtdApr2
#como user 'fe3c3b36-a1ab-4365-b088-1686cd5177d0' foi aprovado, fazendo somente ate a lista 7 e nao constando na
#lista de quem foi aprovado com ate 7 listas feitas

,user_id,class_id,medialist,aprovado,ateLista
0,00ef5626-f029-49e8-aa27-1839357a55c0,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,8.000000,0,1
1,01e8e5bd-3215-4276-9024-5ebc5a6897cf,f7144f91-f493-4e55-aac5-39f0d4add995,57.357704,1,15
2,025b0056-585f-485e-92e7-57a0c7854cce,8f055c33-00ad-4284-aec8-da401901e795,50.177404,1,15
3,02938d00-c7c8-4eaa-8d6b-3d7b3558abae,8f055c33-00ad-4284-aec8-da401901e795,20.817001,0,14
4,03387725-33e3-417c-9093-3efb20c5ef08,6d04019e-905c-4d70-810a-a7f1fa34fe22,4.074208,0,15
...,...,...,...,...,...
482,fbf55485-b2ca-429b-89d3-88ef2cd02105,8f055c33-00ad-4284-aec8-da401901e795,11.044947,0,15
483,fd66de81-b657-41bb-9903-73370d0a0158,f7144f91-f493-4e55-aac5-39f0d4add995,8.666667,0,14
484,fe12589b-3acd-4c67-9387-314b600fb8c3,8f055c33-00ad-4284-aec8-da401901e795,18.470588,0,14
485,fe3c3b36-a1ab-4365-b088-1686cd5177d0,d99923f0-d174-4902-9759-c8220b821d36,54.240896,1,7
486,fe56d94c-26d1-4e75-85d1-0b10a07ece8b,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,53.301587,1,15

In [110]:
teste = usersQtdApr2[usersQtdApr2['ateLista']<13]
teste = teste[teste['aprovado']==1]
teste

,user_id,class_id,medialist,aprovado,ateLista
27,0c78d0e9-d46b-4beb-afb9-98eef31bf1be,e9c7c378-eac4-44b2-b687-4dca6d77cd54,58.984127,1,1
32,0e648e6c-f2c6-476b-8d3a-6491cf7c2916,d99923f0-d174-4902-9759-c8220b821d36,57.841270,1,1
36,0fe41d25-021c-4c36-a140-ae7f11ce53df,f7144f91-f493-4e55-aac5-39f0d4add995,58.984127,1,6
50,1883ef9c-9e09-4b35-a6c2-98698f954cb4,f7144f91-f493-4e55-aac5-39f0d4add995,58.412698,1,11
56,1afdd554-892d-4746-81ab-76809311b711,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,2
78,28ac30c0-f728-493b-b721-c4e5c4157fdd,e9c7c378-eac4-44b2-b687-4dca6d77cd54,58.984127,1,11
84,2a73ec25-121a-4a58-9612-f3613c0a38c7,e9c7c378-eac4-44b2-b687-4dca6d77cd54,54.984127,1,3
85,2a83fa7d-af39-4298-8a9b-2443960c3233,8f055c33-00ad-4284-aec8-da401901e795,58.412698,1,12
87,2b8a8a21-7b07-4ccd-9e19-0ad0f37a80f6,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1,1
106,33e9f9c3-5da7-49fc-8dd0-30e47b85bc54,f7144f91-f493-4e55-aac5-39f0d4add995,58.324463,1,4
122,3a2926c1-525d-4b5f-be1c-0d60e986b3ce,f7144f91-f493-4e55-aac5-39f0d4add995,58.103186,1,11
130,4115a1c9-77f8-402b-be86-18acc8f13d6c,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.748833,1,9
140,47876efb-cd44-461b-a378-e70af1f09017,e9c7c378-eac4-44b2-b687-4dca6d77cd54,58.984127,1,11
148,4ddea2fe-620a-4d69-808e-9a493af100c3,e9c7c378-eac4-44b2-b687-4dca6d77cd54,55.650794,1,11
168,55ddb18c-2394-4358-81e6-6004dc955703,d99923f0-d174-4902-9759-c8220b821d36,50.984127,1,1
170,57151a7b-a9af-4d7f-8972-84e046b97381,e9c7c378-eac4-44b2-b687-4dca6d77cd54,52.803308,1,11
174,5a61f2dc-7646-4c7d-94b3-d03ef0030371,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1,12
175,5bbef869-6707-4036-9531-6b329f9d707f,f7144f91-f493-4e55-aac5-39f0d4add995,58.984127,1,10
196,649852cd-d694-44c3-bff5-726c0521d809,f7144f91-f493-4e55-aac5-39f0d4add995,57.430719,1,8
201,68bb0c5e-9af7-4929-8a0b-8431f4e538fe,f7144f91-f493-4e55-aac5-39f0d4add995,58.984127,1,9
209,6fd014d5-7e9a-4a54-8b41-9978c52bb8ee,e9c7c378-eac4-44b2-b687-4dca6d77cd54,53.955556,1,4
210,6fe4ded9-cf7e-44de-bb1f-e8f5244545df,77335557-c5d1-4144-be6e-84b6114ec22e,58.984127,1,11
211,706f3450-350e-4177-a42c-e4be705b75b2,6d04019e-905c-4d70-810a-a7f1fa34fe22,58.984127,1,12
215,71c3e64f-9db3-4b13-a60c-eaad0721b7c9,e9c7c378-eac4-44b2-b687-4dca6d77cd54,58.984127,1,11
225,78a2f8d8-358c-44e4-b41f-2a5bfe758237,f7144f91-f493-4e55-aac5-39f0d4add995,55.858066,1,11
242,81c20d34-5d22-472d-8aac-7a215ce8296a,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.412698,1,0
252,8736e442-e477-47b6-95d7-9b2ee6821112,e9c7c378-eac4-44b2-b687-4dca6d77cd54,56.400654,1,1
264,8dcd43c4-4d47-410d-a3cb-016c2d0b25e6,e9c7c378-eac4-44b2-b687-4dca6d77cd54,58.984127,1,2
267,8e62252e-4e44-4632-93d3-4a96e5b66998,f7144f91-f493-4e55-aac5-39f0d4add995,55.046779,1,0
269,90149b8c-f59a-46a7-bdea-16df1ae297c8,f7144f91-f493-4e55-aac5-39f0d4add995,58.984127,1,12
279,94e36d62-d8e9-4177-82cd-3bc0d9aeb3fe,8f055c33-00ad-4284-aec8-da401901e795,53.282446,1,12
300,9e3d24b5-e41a-47cc-8d61-9bb89a7b9d31,f7144f91-f493-4e55-aac5-39f0d4add995,58.984127,1,0
311,a74c2b07-e8c0-4f72-ac86-ce800fb74672,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1,12
317,a8cb2fa5-b00e-4d2e-bdff-f1ef8dc61a56,f7144f91-f493-4e55-aac5-39f0d4add995,57.841270,1,0
326,ab892df9-adec-49fb-ba4a-bdfa3d2b3f38,8f055c33-00ad-4284-aec8-da401901e795,52.758601,1,12
327,ab892df9-adec-49fb-ba4a-bdfa3d2b3f38,e9c7c378-eac4-44b2-b687-4dca6d77cd54,56.541636,1,1
335,afaa8f17-b515-423c-92fb-814d68f6e551,f7144f91-f493-4e55-aac5-39f0d4add995,58.984127,1,4
337,b049d395-8697-4570-bb02-e7d24f8d0b13,77335557-c5d1-4144-be6e-84b6114ec22e,58.748833,1,12
344,b51f2dd4-c4f4-4dd8-ba62-27054631be38,f7144f91-f493-4e55-aac5-39f0d4add995,52.611111,1,11
349,b857319d-9cac-4f0d-8583-2f5a72e3ba64,6d04019e-905c-4d70-810a-a7f1fa34fe22,54.984127,1,10
363,be695b60-296e-40c4-bb31-5bf3261d061a,77335557-c5d1-4144-be6e-84b6114ec22e,50.755556,1,12
364,be93b344-8274-4052-a6e0-b403d5ad9c7e,6d04019e-905c-4d70-810a-a7f1fa34fe22,54.984127,1,4
381,c6f4a0df-412f-4d00-b186-e1568ee5b889,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1,12
388,c99c6364-b755-4951-83e4-975bb2e5ecb5,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1,1
389,ca1299ef-47e2-44f9-9429-a4d0b89ae9c0,f7144f91-f493-4e55-aac5-39f0d4add995,58.984127,1,8
390,cab2be8f-72ad-43dd-9764-446b33683928,f7144f91-f493-4e55-aac5-39f0d4add995,58.984127,1,12
400,cf930e7a-0b92-44f5-9ef9-5b1d2437ead8,d99923f0-d174-4902-9759-c8220b821d36,58.984127,1,10
407,d24818a6-de52-47c7-bdb3-950d37a4103c,f7144f91-f493-4e55-aac5-39f0d4add995,53.841270,1,11
413,d41f75fd-0cc6-4ba8-96ff-46d1d20aaab1,e9c7c378-eac4-44b2-b687-4dca6d77cd54,58.670409,1,3
423,d8767187-903a-4e4f-a706-98c3655bd842,f7144f91-f493-4e55-aac5-39f0d4add995,54.984127,1,0
431,dee0c9a3-c5e7-4ff1-ad9b-1f85ee75b6c8,d99923f0-d174-4902-9759-c8220b821d36,53.974603,1,4
432,def68ba6-f17a-4c1b-b4f0-6707df067e93,8f055c33-00ad-4284-aec8-da401901e795,57.991418,1,12
439,e7859644-3493-4c21-b303-d857600d0da8,8f055c33-00ad-4284-aec8-da401901e795,54.912677,1,12
445,eb47fe76-d7e6-474d-bcd2-d75494a3ae72,f7144f91-f493-4e55-aac5-39f0d4add995,58.984127,1,1
457,f0c770f6-affc-43d0-84c0-429ee0119784,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1,3
467,f4e5c666-288b-4bbf-951b-56fd0fbb7f9f,8394d1cb-86b5-4b90-bc62-4b9b192a81f6,58.984127,1,6
479,fb10ec34-7cf7-4ca7-910b-0cec1331b2b3,8f055c33-00ad-4284-aec8-da401901e795,58.984127,1,5
485,fe3c3b36-a1ab-4365-b088-1686cd5177d0,d99923f0-d174-4902-9759-c8220b821d36,54.240896,1,7